Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors

chore: add context7 support
  context7.json
Owners: @ngx-vest-forms/maintainers

fix(form): harden async validator cancellation and resetField event propagation
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

fix(control-wrapper): preserve consumer-provided aria-required attribute
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/core-team

fix(examples): use ROOT_FORM for overlap validation and remove artificial delay
  projects/examples/src/app/pages/business-hours-form/business-hours.validations.ts
  projects/examples/src/app/pages/purchase-form/swapi.service.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(e2e): strengthen business-hours overlap assertions and page locators
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/business-hours-form/business-hours.page.spec.ts
Owners: @ngx-vest-forms/maintainers

docs: fix Vest 5 drift in migration guide and copilot instructions
  .github/copilot-instructions.md
  docs/FIELD-PATHS.md
Owners: @ngx-vest-forms/maintainers

style: fix import formatting in form-control-state spec
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.spec.ts
Owners: @ngx-vest-forms/core-team

ci(release): add release v2 maintenance branch support
  .github/workflows/cd.yml
  .github/workflows/prerelease.yml
  .releaserc
  docs/RELEASE.md
Owners: @ngx-vest-forms/maintainers

fix(forms): resolve async validator lint errors
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

feat(ngx-vest-forms): add field blur events for draft workflows
  README.md
  docs/AUTO-SAVE-ON-BLUR.md
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat(examples): add blur-driven auto-save demo
  e2e/helpers/form-helpers.ts
  e2e/pages/auto-save-demo/auto-save-demo.form.spec.ts
  e2e/pages/auto-save-demo/auto-save-demo.form.tests.ts
  e2e/pages/auto-save-demo/auto-save-demo.page.spec.ts
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/models/auto-save-demo.model.ts
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.form.html
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.form.ts
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.html
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.scss
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.ts
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.service.ts
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.validations.ts
  projects/examples/src/main.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(ngx-vest-forms): remove unused dependent display mode
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/AUTO-SAVE-ON-BLUR.md
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.ts
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.form.html
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.page.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
  projects/ngx-vest-forms/src/lib/utils/field-path-types.ts
  projects/ngx-vest-forms/src/lib/utils/validation-config-builder.spec.ts
  projects/ngx-vest-forms/src/lib/utils/validation-config-builder.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor: remove unused autoSaveDemoShape and clean up imports
  projects/examples/src/app/models/auto-save-demo.model.ts
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

fix(field-blur): emit fresh blur snapshots for autosave
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

docs(field-blur): clarify blur autosave guidance
  README.md
  docs/AUTO-SAVE-ON-BLUR.md
Owners: @ngx-vest-forms/maintainers

docs(field-blur): document autosave persistence policies
  README.md
  docs/AUTO-SAVE-ON-BLUR.md
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

Notes added by 'git notes add'
  68392ec06ede883ee61f3335fa325d863be7e41c
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  5d7ad66ea9baa2b2b3d36bd29d5b29d656cfd8d7
Owners: @ngx-vest-forms/maintainers

build(deps): update dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

build(deps): upgrade storybook
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

build(copilot): remove analogjs angular skills
  .github/skills/angular-component/SKILL.md
  .github/skills/angular-component/references/component-patterns.md
  .github/skills/angular-di/SKILL.md
  .github/skills/angular-di/references/di-patterns.md
  .github/skills/angular-directives/SKILL.md
  .github/skills/angular-directives/references/directive-patterns.md
  .github/skills/angular-forms/SKILL.md
  .github/skills/angular-forms/references/form-patterns.md
  .github/skills/angular-http/SKILL.md
  .github/skills/angular-http/references/http-patterns.md
  .github/skills/angular-routing/SKILL.md
  .github/skills/angular-routing/references/routing-patterns.md
  .github/skills/angular-signals/SKILL.md
  .github/skills/angular-signals/references/signal-patterns.md
  .github/skills/angular-testing/SKILL.md
  .github/skills/angular-testing/references/testing-patterns.md
  .github/skills/angular-tooling/SKILL.md
  .github/skills/angular-tooling/references/tooling-patterns.md
  .github/skills/make-skill-template/SKILL.md
Owners: @ngx-vest-forms/maintainers

build(copilot): add angular official skills
  .github/skills/angular-developer/SKILL.md
  .github/skills/angular-developer/references/angular-animations.md
  .github/skills/angular-developer/references/angular-aria.md
  .github/skills/angular-developer/references/cli.md
  .github/skills/angular-developer/references/component-harnesses.md
  .github/skills/angular-developer/references/component-styling.md
  .github/skills/angular-developer/references/components.md
  .github/skills/angular-developer/references/creating-services.md
  .github/skills/angular-developer/references/data-resolvers.md
  .github/skills/angular-developer/references/define-routes.md
  .github/skills/angular-developer/references/defining-providers.md
  .github/skills/angular-developer/references/di-fundamentals.md
  .github/skills/angular-developer/references/e2e-testing.md
  .github/skills/angular-developer/references/effects.md
  .github/skills/angular-developer/references/hierarchical-injectors.md
  .github/skills/angular-developer/references/host-elements.md
  .github/skills/angular-developer/references/injection-context.md
  .github/skills/angular-developer/references/inputs.md
  .github/skills/angular-developer/references/linked-signal.md
  .github/skills/angular-developer/references/loading-strategies.md
  .github/skills/angular-developer/references/mcp.md
  .github/skills/angular-developer/references/navigate-to-routes.md
  .github/skills/angular-developer/references/outputs.md
  .github/skills/angular-developer/references/reactive-forms.md
  .github/skills/angular-developer/references/rendering-strategies.md
  .github/skills/angular-developer/references/resource.md
  .github/skills/angular-developer/references/route-animations.md
  .github/skills/angular-developer/references/route-guards.md
  .github/skills/angular-developer/references/router-lifecycle.md
  .github/skills/angular-developer/references/router-testing.md
  .github/skills/angular-developer/references/show-routes-with-outlets.md
  .github/skills/angular-developer/references/signal-forms.md
  .github/skills/angular-developer/references/signals-overview.md
  .github/skills/angular-developer/references/tailwind-css.md
  .github/skills/angular-developer/references/template-driven-forms.md
  .github/skills/angular-developer/references/testing-fundamentals.md
  skills-lock.json
Owners: @ngx-vest-forms/maintainers

build(copilot): remove skill-creator skill
  .github/skills/skill-creator/SKILL.md
  .github/skills/skill-creator/license.txt
  .github/skills/skill-creator/scripts/init_skill.py
  .github/skills/skill-creator/scripts/package_skill.py
  .github/skills/skill-creator/scripts/quick_validate.py
Owners: @ngx-vest-forms/maintainers

docs(skills): add ngx-vest-forms skill package
  .github/copilot-instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  .github/skills/ngx-vest-forms/SKILL.md
  .github/skills/ngx-vest-forms/built-in-wrappers/SKILL.md
  .github/skills/ngx-vest-forms/child-components/SKILL.md
  .github/skills/ngx-vest-forms/core/SKILL.md
  .github/skills/ngx-vest-forms/custom-wrapper-patterns/SKILL.md
  .github/skills/ngx-vest-forms/custom-wrapper-patterns/references/patterns.md
  .github/skills/ngx-vest-forms/dynamic-form-behavior/SKILL.md
  .github/skills/ngx-vest-forms/dynamic-form-behavior/references/decision-guide.md
  .github/skills/ngx-vest-forms/evals/evals.json
  .github/skills/ngx-vest-forms/root-form-validation/SKILL.md
  .github/skills/ngx-vest-forms/validation-config-builder/SKILL.md
  .github/skills/ngx-vest-forms/validation-config-builder/references/decision-guide.md
  README.md
Owners: @ngx-vest-forms/maintainers

feat(skills): add versioned vestjs skill package
  .github/skills/vestjs/SKILL.md
  .github/skills/vestjs/async-and-warnings/SKILL.md
  .github/skills/vestjs/conditional-control-flow/SKILL.md
  .github/skills/vestjs/conditional-control-flow/references/decision-guide.md
  .github/skills/vestjs/core/SKILL.md
  .github/skills/vestjs/enforce-and-custom-rules/SKILL.md
  .github/skills/vestjs/enforce-and-custom-rules/references/design-guide.md
  .github/skills/vestjs/evals/5.x.json
  .github/skills/vestjs/evals/evals.json
  .github/skills/vestjs/references/5.x/source-map.md
  .github/skills/vestjs/references/version-selection.md
  .github/skills/vestjs/results-groups-and-types/SKILL.md
  .github/skills/vestjs/server-side-validation/SKILL.md
  README.md
  docs/VESTJS-SKILL.md
Owners: @ngx-vest-forms/maintainers

build(deps): set typescript back to 5.9.3
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

feat(examples): add composite adapter recipe demo
  docs/COMPOSITE-ADAPTER-RECIPE.md
  e2e/helpers/form-helpers.ts
  e2e/pages/date-range-adapter/composite-adapter.form.tests.ts
  e2e/pages/date-range-adapter/date-range-adapter.form.spec.ts
  e2e/pages/date-range-adapter/date-range-adapter.page.spec.ts
  e2e/pages/date-range-adapter/split-wrappers.form.tests.ts
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/models/travel-form.model.ts
  projects/examples/src/app/pages/date-range-adapter/date-range-adapter.component.ts
  projects/examples/src/app/pages/date-range-adapter/travel.form.html
  projects/examples/src/app/pages/date-range-adapter/travel.form.ts
  projects/examples/src/app/pages/date-range-adapter/travel.page.html
  projects/examples/src/app/pages/date-range-adapter/travel.page.ts
  projects/examples/src/app/pages/date-range-adapter/travel.validations.spec.ts
  projects/examples/src/app/pages/date-range-adapter/travel.validations.ts
  projects/examples/src/main.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs(ngx-vest-forms): add composite adapter guidance
  .github/copilot-instructions.md
  .github/skills/ngx-vest-forms/SKILL.md
  .github/skills/ngx-vest-forms/composite-adapter/SKILL.md
Owners: @ngx-vest-forms/maintainers

docs(examples): clarify recipe trade-offs and fixme limitations
  e2e/pages/date-range-adapter/split-wrappers.form.tests.ts
  projects/examples/src/app/pages/date-range-adapter/travel.form.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs(composite-adapter): reference issue guidance for child adapters
  .github/skills/ngx-vest-forms/composite-adapter/SKILL.md
  docs/COMPOSITE-ADAPTER-RECIPE.md
Owners: @ngx-vest-forms/maintainers

fix(examples): address composite adapter review feedback
  e2e/pages/date-range-adapter/split-wrappers.form.tests.ts
  projects/examples/src/app/pages/date-range-adapter/date-range-adapter.component.ts
  projects/examples/src/app/pages/date-range-adapter/travel.form.html
  projects/examples/src/app/pages/date-range-adapter/travel.form.ts
  projects/examples/src/app/pages/date-range-adapter/travel.page.html
  projects/examples/src/app/pages/date-range-adapter/travel.page.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs: align composite adapter recipe and skill with per-field error/warning interface
  .github/skills/ngx-vest-forms/composite-adapter/SKILL.md
  docs/COMPOSITE-ADAPTER-RECIPE.md
Owners: @ngx-vest-forms/maintainers

refactor(composite-adapter): improve accessibility and code quality
  README.md
  angular.json
  e2e/pages/date-range-adapter/composite-adapter.form.tests.ts
  projects/examples/src/app/pages/business-hours-form/ui/business-hour/business-hour.component.ts
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.ts
  projects/examples/src/app/pages/date-range-adapter/date-range-adapter.component.ts
  projects/examples/src/app/pages/date-range-adapter/travel.form.html
  projects/examples/src/app/pages/date-range-adapter/travel.form.ts
  projects/examples/src/app/pages/date-range-adapter/travel.page.html
  projects/examples/src/app/pages/date-range-adapter/travel.page.ts
  projects/examples/src/app/pages/date-range-adapter/travel.validations.spec.ts
  projects/examples/src/app/pages/date-range-adapter/travel.validations.ts
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.form.html
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.page.html
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.page.ts
  projects/examples/src/app/pages/wizard-form/wizard-form.page.ts
  projects/examples/src/app/shared/validations/validation-demo.validations.ts
  projects/examples/src/app/ui/address/address.component.ts
  projects/examples/src/app/ui/alert-panel/alert-panel.component.ts
  projects/examples/src/app/ui/card/card.component.ts
  projects/examples/src/app/ui/form-page-layout/form-page-layout.component.ts
  projects/examples/src/app/ui/form-section/form-section.component.ts
  projects/examples/src/app/ui/json-preview/json-preview.component.ts
  projects/examples/src/app/ui/page-title/page-title.component.ts
  projects/examples/src/app/ui/phonenumbers/phonenumbers.component.ts
  projects/examples/src/app/ui/wizard/wizard-navigation.component.ts
  projects/examples/src/app/ui/wizard/wizard-steps.component.ts
  projects/examples/src/styles.scss
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/public-api-aria.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

build(ai): add angular-developer skills
  .agents/skills/angular-developer/SKILL.md
  .agents/skills/angular-developer/references/angular-animations.md
  .agents/skills/angular-developer/references/angular-aria.md
  .agents/skills/angular-developer/references/cli.md
  .agents/skills/angular-developer/references/component-harnesses.md
  .agents/skills/angular-developer/references/component-styling.md
  .agents/skills/angular-developer/references/components.md
  .agents/skills/angular-developer/references/creating-services.md
  .agents/skills/angular-developer/references/data-resolvers.md
  .agents/skills/angular-developer/references/define-routes.md
  .agents/skills/angular-developer/references/defining-providers.md
  .agents/skills/angular-developer/references/di-fundamentals.md
  .agents/skills/angular-developer/references/e2e-testing.md
  .agents/skills/angular-developer/references/effects.md
  .agents/skills/angular-developer/references/hierarchical-injectors.md
  .agents/skills/angular-developer/references/host-elements.md
  .agents/skills/angular-developer/references/injection-context.md
  .agents/skills/angular-developer/references/inputs.md
  .agents/skills/angular-developer/references/linked-signal.md
  .agents/skills/angular-developer/references/loading-strategies.md
  .agents/skills/angular-developer/references/mcp.md
  .agents/skills/angular-developer/references/navigate-to-routes.md
  .agents/skills/angular-developer/references/outputs.md
  .agents/skills/angular-developer/references/reactive-forms.md
  .agents/skills/angular-developer/references/rendering-strategies.md
  .agents/skills/angular-developer/references/resource.md
  .agents/skills/angular-developer/references/route-animations.md
  .agents/skills/angular-developer/references/route-guards.md
  .agents/skills/angular-developer/references/router-lifecycle.md
  .agents/skills/angular-developer/references/router-testing.md
  .agents/skills/angular-developer/references/show-routes-with-outlets.md
  .agents/skills/angular-developer/references/signal-forms.md
  .agents/skills/angular-developer/references/signals-overview.md
  .agents/skills/angular-developer/references/tailwind-css.md
  .agents/skills/angular-developer/references/template-driven-forms.md
  .agents/skills/angular-developer/references/testing-fundamentals.md
  .claude/skills/angular-developer
  skills-lock.json
Owners: @ngx-vest-forms/maintainers

build: cleanup skills
  .github/skills/chrome-devtools/SKILL.md
  .github/skills/frontend-design/SKILL.md
  .github/skills/git-commit/SKILL.md
  .github/skills/playwright/SKILL.md
  .github/skills/refactor/SKILL.md
  .github/skills/typescript/SKILL.md
  .github/skills/typescript/references/generics-and-inference.md
  .github/skills/typescript/references/patterns-and-idioms.md
  .github/skills/typescript/references/tsconfig-reference.md
  .github/skills/typescript/references/type-system.md
  .github/skills/typescript/references/utility-types.ts
  .github/skills/vitest/GENERATION.md
  .github/skills/vitest/SKILL.md
  .github/skills/vitest/references/advanced-environments.md
  .github/skills/vitest/references/advanced-projects.md
  .github/skills/vitest/references/advanced-type-testing.md
  .github/skills/vitest/references/advanced-vi.md
  .github/skills/vitest/references/core-cli.md
  .github/skills/vitest/references/core-config.md
  .github/skills/vitest/references/core-describe.md
  .github/skills/vitest/references/core-expect.md
  .github/skills/vitest/references/core-hooks.md
  .github/skills/vitest/references/core-test-api.md
  .github/skills/vitest/references/features-concurrency.md
  .github/skills/vitest/references/features-context.md
  .github/skills/vitest/references/features-coverage.md
  .github/skills/vitest/references/features-filtering.md
  .github/skills/vitest/references/features-mocking.md
  .github/skills/vitest/references/features-snapshots.md
  .github/skills/web-design-reviewer/SKILL.md
  .github/skills/web-design-reviewer/references/framework-fixes.md
  .github/skills/web-design-reviewer/references/visual-checklist.md
Owners: @ngx-vest-forms/maintainers

chore(deps): update library dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

fix(field-blur): resolve nested control paths and read DOM value at blur
  .github/instructions/ngx-vest-forms.instructions.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(field-blur): handle radios, repeated leaf names, and reset cancellation
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore(field-blur): polish JSDoc, escape selector, cover repeated leaves
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

fix(field-blur,auto-save-demo): resolve dynamic group paths; persist on submit
  projects/examples/src/app/pages/auto-save-demo/auto-save-demo.page.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team
