Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

chore(test): remove ZonelessTestModule and update test setup
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/test-setup.ts
Owners: @ngx-vest-forms/core-team

test(control-wrapper): update async validation test to use waitFor for defer delay
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
Owners: @ngx-vest-forms/core-team

build(deps): update dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

build(copilot): update technology version specifications in copilot instructions
  .github/copilot-instructions.md
Owners: @ngx-vest-forms/maintainers

refactor(purchase-form): remove deprecated allowSignalWrites comment
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs: update Vest.js conditional call guidelines and migration notes for change detection
  .github/copilot-instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  .github/instructions/vest.instructions.md
  README.md
  docs/migration/MIGRATION-v1.x-to-v2.0.0.md
Owners: @ngx-vest-forms/maintainers

refactor: cleanup and documentation improvements
  projects/examples/src/app/validations/purchase.validations.spec.ts
  projects/examples/src/main.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor(validation-config): remove unused ViewChild import from test component
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

build(deps): update analog
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

feat(form-directive): add resetForm() method
  .github/instructions/ngx-vest-forms.instructions.md
  e2e/helpers/form-helpers.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-reset.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(form-model-directive): correct comment for control validation
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.ts
Owners: @ngx-vest-forms/core-team

docs(form-reset): enhance comments to clarify race condition and benefits of resetForm()
  projects/ngx-vest-forms/src/lib/directives/form-reset.spec.ts
Owners: @ngx-vest-forms/core-team

feat(control-wrapper): add MutationObserver for dynamic ARIA associations
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/core-team

chore(purchase-form): update comment for birthDate initialization to clarify type safety
  projects/examples/src/app/models/purchase-form.model.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

Notes added by 'git notes add'
  0d2a5d71cf63b5397177bf90313ca39f37519f4b
Owners: @ngx-vest-forms/maintainers

chore: update Angular and Storybook dependencies to latest versions
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore: update husky prepare script to use 'husky' command
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

build(deps): update deps
  package-lock.json
  package.json
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/tokens/debounce.token.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor(examples): apply unidirectional data flow pattern to BusinessHoursComponent
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/ui/business-hour/business-hour.component.ts
  projects/examples/src/app/components/ui/business-hours/business-hours.component.html
  projects/examples/src/app/components/ui/business-hours/business-hours.component.ts
  projects/examples/src/app/components/ui/card/card.component.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.html
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.ts
  projects/examples/src/app/components/ui/theme-switcher/theme-switcher.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

build(deps): update dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

refactor(tests): improve type safety and update flaky tests in validation specs
  projects/examples/src/app/validations/purchase.validations.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/tokens/debounce.token.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

fix(e2e): enable bidirectional validation tests with typeAndBlur helper
  e2e/helpers/form-helpers.ts
  e2e/validation-config-demo.spec.ts
Owners: @ngx-vest-forms/maintainers

refactor(tests): improve readability and consistency in purchase and wizard form tests
  e2e/purchase-form.spec.ts
  e2e/wizard-form.spec.ts
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  4c9d58a540020153a32dfacd240b03c06f07c6e9
Owners: @ngx-vest-forms/maintainers

build(deps): update dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

fix(tests): mark date input bidirectional validation as a known issue due to Playwright limitations
  e2e/validation-config-demo.spec.ts
Owners: @ngx-vest-forms/maintainers

build(agent): update tools and model version in healer agent documentation
  .github/agents/🎭 healer.agent.md
Owners: @ngx-vest-forms/maintainers

build(deps): update dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore(demo): remove redundant FormsModule
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(demo): set validation time-out to 5 sec
  e2e/helpers/form-helpers.ts
Owners: @ngx-vest-forms/maintainers

style: format sentence on 1 line
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix: sync programmatic model updates via patchValue
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

fix(a11y): preserve aria-describedby tokens
  e2e/aria-describedby-merge.spec.ts
  e2e/helpers/form-helpers.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(a11y): stabilize control wrapper live regions
  e2e/live-regions-stable.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore(control-wrapper): remove template duplication
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/core-team

chore(types): replace any with unknown in NgxVestSuite
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
Owners: @ngx-vest-forms/core-team

docs(instructions): clarify name attribute requirements by form approach
  .github/instructions/angular.instructions.md
Owners: @ngx-vest-forms/maintainers

fix(examples): make add-phone standalone; restore suite typing
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.html
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

test(e2e): enable business-hours validations
  e2e/business-hours-form.spec.ts
  e2e/helpers/form-helpers.ts
Owners: @ngx-vest-forms/maintainers

feat: enhance business hours form with validation and dynamic ID generation
  docs/STRUCTURE_CHANGE_DETECTION.md
  e2e/business-hours-form.spec.ts
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/ui/business-hour/business-hour.component.html
  projects/examples/src/app/components/ui/business-hour/business-hour.component.ts
  projects/examples/src/app/components/ui/business-hours/business-hours.component.html
  projects/examples/src/app/components/ui/business-hours/business-hours.component.ts
  projects/examples/src/app/validations/business-hours.validations.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors
