Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

feat: group-safe wrappers, ARIA wiring, and E2E stability
  .github/agents/ 🎭 planner.agent.md
  README.md
  docs/ACCESSIBILITY.md
  docs/CHILD-COMPONENTS.md
  docs/CUSTOM-CONTROL-WRAPPERS.md
  docs/STRUCTURE_CHANGE_DETECTION.md
  e2e/aria-describedby-merge.spec.ts
  e2e/business-hours-form.spec.ts
  e2e/enhanced-validation-config.spec.ts
  e2e/get-all-form-errors.spec.ts
  e2e/helpers/form-helpers.ts
  e2e/live-regions-stable.spec.ts
  e2e/purchase-form.spec.ts
  e2e/root-form-live-mode.spec.ts
  e2e/validation-config-demo.spec.ts
  e2e/wizard-form.spec.ts
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/ui/address/address.component.html
  projects/examples/src/app/components/ui/address/address.component.ts
  projects/examples/src/app/components/ui/business-hour/business-hour.component.html
  projects/examples/src/app/components/ui/business-hours/business-hours.component.html
  projects/examples/src/app/components/ui/business-hours/business-hours.component.ts
  projects/examples/src/app/models/business-hours-form.model.ts
  projects/examples/src/app/validations/business-hours.validations.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/README.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-control.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-control.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/exports.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor: remove public modifier from getAll method in ProductService
  projects/examples/src/app/product.service.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix: correct baseUrl and paths in tsconfig.json for proper module resolution
  tsconfig.json
Owners: @ngx-vest-forms/maintainers

build(deps): update dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

feat: enhance validation tests with async handling and DOM updates
  e2e/get-all-form-errors.spec.ts
  e2e/seed.spec.ts
  e2e/wizard-form.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: fix some nitpicks
  e2e/helpers/form-helpers.ts
  e2e/wizard-form.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: add critical comment to prevent Vest execution tracking corruption
  projects/examples/src/app/validations/validation-demo.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

refactor: improve address validation error visibility checks in purchase form tests
  e2e/purchase-form.spec.ts
Owners: @ngx-vest-forms/maintainers

build(deps): update dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

docs: enhance accessibility documentation
  docs/ACCESSIBILITY.md
  docs/CHILD-COMPONENTS.md
Owners: @ngx-vest-forms/maintainers

build(copilot): update and improve the ngx-vest-forms instructions
  .github/instructions/ngx-vest-forms.instructions.md
Owners: @ngx-vest-forms/maintainers

build(copilot): remove obsolete 4.1 beastmode agent
  .github/agents/4.1-Beast.agent.md
Owners: @ngx-vest-forms/maintainers

docs(migration): improve the migration guide
  docs/migration/MIGRATION-v1.x-to-v2.0.0.md
Owners: @ngx-vest-forms/maintainers

test(e2e): replace waitForTimeout with robust validation polling helpers
  e2e/date-field-shape-validation.spec.ts
  e2e/enhanced-validation-config.spec.ts
  e2e/get-all-form-errors.spec.ts
  e2e/helpers/form-helpers.ts
  e2e/purchase-form.spec.ts
  e2e/validation-config-demo.spec.ts
  e2e/wizard-form.spec.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-reset.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor(shape-validation): improve DX with cleaner code and updated tests
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/luke.service.ts
  projects/examples/src/app/models/business-hours-form.model.ts
  projects/examples/src/app/models/purchase-form.model.ts
  projects/examples/src/app/swapi.service.ts
  projects/examples/src/backend/db.json
  projects/ngx-vest-forms/src/lib/errors/error-catalog.ts
  projects/ngx-vest-forms/src/lib/utils/__screenshots__/shape-validation.spec.ts/validateShape-function-should-warn-with-correct-ngModelGroup-error-message-1.png
  projects/ngx-vest-forms/src/lib/utils/shape-validation.spec.ts
  projects/ngx-vest-forms/src/lib/utils/shape-validation.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

test: add comprehensive E2E coverage and JSON server auto-start
  e2e/purchase-form.spec.ts
  playwright.config.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/luke.service.ts
  projects/examples/src/styles.scss
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix: resolve linting errors by updating initial values to undefined and improving test assertions
  projects/examples/src/app/models/purchase-form.model.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

ci: switch to OIDC Trusted Publisher for npm publishing
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  projects/ngx-vest-forms/package.json
Owners: @ngx-vest-forms/maintainers

docs: cleanup stale documentation and fix broken links
  docs/FIELD-PATHS.md
  docs/ROADMAP.md
  docs/SELECTOR-PREFIX-MIGRATION.md
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  2844ebcc69ee66300cfa384aa744c02ebe94a059
Owners: @ngx-vest-forms/maintainers

chore: update Angular dependencies to version 21.1.0
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore: update dependencies in package.json
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore: update .npmrc and package.json for Angular 21 compatibility
  .npmrc
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  d20bdcd432ce4c23a9c63ff60a280b2c9b1f1e99
Owners: @ngx-vest-forms/maintainers

test(e2e): add password warnings E2E tests for issue #69 fix
  .github/agents/🎭 healer.agent.md
  e2e/password-warnings.spec.ts
  e2e/validation-config-demo.spec.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/validations/purchase.validations.ts
  projects/examples/src/app/validations/validation-demo.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix: update password warnings test to correctly reflect complexity and length criteria
  e2e/password-warnings.spec.ts
Owners: @ngx-vest-forms/maintainers

fix: add accessibility attributes to icon in purchase form
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: add snapshot directories to .gitignore
  .gitignore
Owners: @ngx-vest-forms/maintainers

test(core): update flatten-errors tests to assert warning and error messages directly from the DOM
  projects/ngx-vest-forms/src/lib/directives/flatten-errors.spec.ts
Owners: @ngx-vest-forms/core-team

fix(control-wrapper): store warnings separately to preserve field validity
  .github/agents/🎭 generator.agent.md
  .github/agents/🎭 healer.agent.md
  .github/instructions/a11y.instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/ACCESSIBILITY.md
  e2e/helpers/form-helpers.ts
  e2e/live-regions-stable.spec.ts
  e2e/password-warnings.spec.ts
  e2e/validation-config-demo.spec.ts
  playwright.config.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.ts
  projects/examples/src/app/validations/validation-demo.validations.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/README.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

build(deps): upgrade deps
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

build(deps): update storybook
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore(e2e): refactor helpers, disable report auto-open, and improve test stability
  e2e/aria-describedby-merge.spec.ts
  e2e/helpers/form-helpers.ts
  e2e/password-warnings.spec.ts
  e2e/purchase-form.spec.ts
  e2e/validation-config-demo.spec.ts
  e2e/wizard-form.spec.ts
  playwright.config.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/validations/purchase.validations.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor(lib/directives): modernize directives for Angular 21 best practices
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-control.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

fix: enable all 6 disabled test.fixme e2e tests with stable implementations
  e2e/helpers/form-helpers.ts
  e2e/purchase-form.spec.ts
  e2e/validation-config-demo.spec.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.html
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore: tighten E2E assertion and add path guard for field warnings
  e2e/password-warnings.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat: add configurable warning display mode
  README.md
  docs/ACCESSIBILITY.md
  docs/API-TOKENS.md
  docs/DUAL-SELECTOR-SUPPORT.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/README.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/error-display-mode.token.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix: normalize non-string vest errors to prevent [object Object] rendering
  projects/ngx-vest-forms/src/lib/directives/flatten-errors.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/core-team

fix(vest-forms): normalize non-string errors & address PR review comments
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

fix(validation-config-demo): add accessibility roles to error alerts
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors
