Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors

feat: add Error Display Modes feature with interactive demo
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.page.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.form.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.page.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.validations.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/index.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal-form.page.ts
  projects/examples/src/app/app.component.html
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/app.routes.ts
  projects/examples/src/app/ui/card/card.component.ts
  projects/examples/src/app/ui/error-display-mode-selector/error-display-mode-selector.component.ts
  projects/examples/src/app/ui/error-display-mode-selector/index.ts
  projects/examples/src/styles.scss
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat: add educational content and example cards for form validation and error display modes
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.content.ts
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.page.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.content.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.page.ts
  projects/examples/src/app/01-fundamentals/minimal-form/index.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal-form.content.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal-form.page.ts
  projects/examples/src/app/02-core-features/async-validation-form/async-validation-form.component.ts
  projects/examples/src/app/02-core-features/async-validation-form/async-validation.form.ts
  projects/examples/src/app/02-core-features/contact-form/contact-form.component.ts
  projects/examples/src/app/02-core-features/contact-form/contact.form.ts
  projects/examples/src/app/02-core-features/registration-form/registration-form.component.ts
  projects/examples/src/app/02-core-features/registration-form/registration.form.ts
  projects/examples/src/app/02-core-features/simple-form/simple-form.component.ts
  projects/examples/src/app/02-core-features/simple-form/simple.form.ts
  projects/examples/src/app/04-schema-integration/arktype-schema-form/arktype-schema-form.component.ts
  projects/examples/src/app/04-schema-integration/arktype-schema-form/arktype-schema.form.ts
  projects/examples/src/app/04-schema-integration/custom-schema-form/custom-schema-form.component.ts
  projects/examples/src/app/04-schema-integration/custom-schema-form/custom-schema.form.ts
  projects/examples/src/app/04-schema-integration/valibot-schema-form/valibot-schema-form.component.ts
  projects/examples/src/app/04-schema-integration/valibot-schema-form/valibot-schema.form.ts
  projects/examples/src/app/04-schema-integration/zod-schema-form/zod-schema-form.component.ts
  projects/examples/src/app/04-schema-integration/zod-schema-form/zod-schema.form.ts
  projects/examples/src/app/shared/form-example.types.ts
  projects/examples/src/app/ui/card/index.ts
  projects/examples/src/app/ui/example-cards/example-cards.component.ts
  projects/examples/src/app/ui/example-cards/index.ts
  projects/examples/src/app/ui/index.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(examples): add subtitles to basic and minimal validation pages for improved context
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.page.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal-form.page.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix: enhance form control state directive with improved error handling and state management
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.form.ts
  projects/ngx-vest-forms/core/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/core/src/lib/directives/form-error-display.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/form-error-display.directive.ts
  tests/conditional-rendering-race-condition.spec.ts
  tests/race-condition-fix.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore(examples): move and cleanup refactor docs
  .gitignore
  TODO.md
  docs/IMPLEMENTATION-CHECKLIST.md
  docs/SHOWCASE_REQUIREMENTS.md
  docs/examples-todo.md
  docs/redesign-todo.md
  docs/refactor.md
  docs/v1-intend.md
  docs/validation-config-refactor.md
  scripts/cleanup.sh
  tsconfig.json
Owners: @ngx-vest-forms/maintainers

test(fundamentals): add fundamentals e2e tests
  tests/basic-validation.spec.ts
  tests/error-display-modes.spec.ts
  tests/minimal-form.spec.ts
  tests/phone-numbers-form.spec.ts
  tests/smoke-routes.spec.ts
Owners: @ngx-vest-forms/maintainers

refactor(tests): update selectors to use accessible roles
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.validations.ts
  tests/basic-validation.spec.ts
  tests/error-display-modes.spec.ts
  tests/minimal-form.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: remove deprecated form components and related files
  projects/examples/src/app/02-core-features/async-validation-form/async-validation.form.ts
  projects/examples/src/app/02-core-features/contact-form/contact.form.ts
  projects/examples/src/app/02-core-features/profile-form/profile-form.component.html
  projects/examples/src/app/02-core-features/registration-form/registration-form.component.html
  projects/examples/src/app/02-core-features/registration-form/registration.form.ts
  projects/examples/src/app/02-core-features/simple-form/simple-form.component.html
  projects/examples/src/app/02-core-features/simple-form/simple-form.component.scss
  projects/examples/src/app/02-core-features/simple-form/simple.form.ts
  projects/examples/src/app/02-error-display-modes/README.md
  projects/examples/src/app/04-schema-integration/arktype-schema-form/arktype-schema.form.ts
  projects/examples/src/app/04-schema-integration/custom-schema-form/custom-schema.form.ts
  projects/examples/src/app/04-schema-integration/valibot-schema-form/valibot-schema.form.ts
  projects/examples/src/app/04-schema-integration/zod-schema-form/zod-schema.form.ts
  projects/examples/src/app/06-advanced-patterns/purchase-form/purchase-form.component.scss
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(e2e): add proper test for fundamentals
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.form.ts
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.validations.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal-form.validations.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal.form.ts
  projects/ngx-vest-forms/core/src/lib/directives/__tests__/components/select-test.component.ts
  projects/ngx-vest-forms/core/src/lib/directives/select-field-model-update.spec.ts
  tests/basic-form-submission.spec.ts
  tests/basic-validation.spec.ts
  tests/custom-schema-form.spec.ts
  tests/dev-panel-formstate.spec.ts
  tests/error-display-modes.spec.ts
  tests/minimal-form.spec.ts
  tests/phone-numbers-form.spec.ts
  tests/race-condition-fix.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

refactor(examples/minimal-form): update minimal form content and styles
  projects/examples/src/app/01-fundamentals/minimal-form/minimal-form.content.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal.form.ts
  projects/examples/src/app/ui/example-cards/example-cards.component.ts
  projects/examples/src/styles.scss
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

refactor(fundamentals): update content and structure for validation and error display modes
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.content.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.content.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(examples): add accessibility and visual regression tests for educational sections
  tests/content-accessibility.spec.ts
  tests/visual-regression.spec.ts
Owners: @ngx-vest-forms/maintainers

feat(examples): add form state demo component
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.form.ts
  projects/examples/src/app/01-fundamentals/form-state-demo/README.md
  projects/examples/src/app/01-fundamentals/form-state-demo/form-state-demo.content.ts
  projects/examples/src/app/01-fundamentals/form-state-demo/form-state-demo.form.ts
  projects/examples/src/app/01-fundamentals/form-state-demo/form-state-demo.page.ts
  projects/examples/src/app/01-fundamentals/form-state-demo/form-state-demo.validations.ts
  projects/examples/src/app/01-fundamentals/form-state-demo/index.ts
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/app.routes.ts
  projects/examples/src/app/ui/index.ts
  projects/examples/src/app/ui/utils/focus-utils.ts
  tests/form-state-demo.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore(examples): improve examples to tasklist
  docs/redesign-todo.md
Owners: @ngx-vest-forms/maintainers

chore(docs): remove outdated showcase requirements document
  docs/SHOWCASE_REQUIREMENTS.md
Owners: @ngx-vest-forms/maintainers

chore(docs): add Product Requirements Document for HTML validation interference detection
  docs/PRD_HTML_VALIDATION_DETECTION.md
Owners: @ngx-vest-forms/maintainers

feat(examples/control-wrapper): add control-wrapper example
  eslint.config.mjs
  package-lock.json
  package.json
  projects/examples/src/app/02-core-features/control-wrapper-intro/control-wrapper-intro.wrapper-form.ts
  projects/examples/src/app/02-core-features/control-wrapper-intro/index.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.content.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.manual-form.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.page.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.validations.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.wrapper-form.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/index.ts
  projects/examples/src/app/app.component.html
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/app.routes.ts
  projects/examples/src/app/services/shiki-highlight.service.ts
  projects/examples/src/app/shared/form-example.types.ts
  projects/examples/src/app/ui/code-highlight/code-highlight.directive.ts
  projects/examples/src/app/ui/code-highlight/index.ts
  projects/examples/src/app/ui/code-highlight/public-api.ts
  projects/examples/src/app/ui/code-highlight/shiki-highlight.directive.ts
  projects/examples/src/app/ui/code-highlight/shiki-highlight.service.ts
  projects/examples/src/app/ui/error-display-mode-selector/error-display-mode-selector.component.ts
  projects/examples/src/styles.scss
  projects/examples/ui/form-state-display/form-state-display.html
  projects/ngx-vest-forms/schemas/src/lib/adapters/valibot.adapter.ts
  tests/comprehensive-e2e.spec.ts
  tests/control-wrapper-intro.spec.ts
  tests/error-display-modes.spec.ts
  tests/navigation.spec.ts
  tests/performance.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(control-wrapper-intro): enhance content structure
  projects/examples/src/app/02-core-features/control-wrapper-intro/control-wrapper-intro.wrapper-form.ts
  projects/examples/src/app/02-core-features/control-wrapper-intro/index.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.content.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.page.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore(copilot): add copilot instructoins for ngx-vest-forms library
  .github/copilot-instructions.md
Owners: @ngx-vest-forms/maintainers

fix(package-lock): mark lodash dependencies as dev dependencies
  package-lock.json
Owners: @ngx-vest-forms/maintainers

feat(deps): upgrade to angular 19
  angular.json
  package-lock.json
  package.json
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/ui/address/address.component.ts
  projects/examples/src/app/components/ui/business-hour/business-hour.component.ts
  projects/examples/src/app/components/ui/business-hours/business-hours.component.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.ts
  projects/ngx-vest-forms/package.json
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
  tsconfig.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore(node): add .node-version file with Node.js version 22.19.0
  .node-version
Owners: @ngx-vest-forms/maintainers

feat(deps): upgrade to angular 20.2.3
  angular.json
  package-lock.json
  package.json
  projects/examples/karma.conf.js
  projects/ngx-vest-forms/package.json
  tsconfig.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore(deps): upgrade playwright
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore(deps): update Storybook
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore: update commitlint dependencies to version 19.8.1
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

feat(examples/schema-integration): add schema example
  projects/examples/src/app/04-schema-integration/schema-comparison/README.md
  projects/examples/src/app/04-schema-integration/schema-comparison/index.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.content.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.form.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.page.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.validations.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schemas/user.arktype.schema.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schemas/user.custom.schema.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schemas/user.valibot.schema.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schemas/user.zod.schema.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/user-profile.model.ts
  projects/examples/src/app/app.component.html
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/app.routes.ts
  projects/examples/src/app/shared/form-example.types.ts
  projects/examples/src/app/ui/code-highlight/code-highlight.directive.ts
  projects/examples/src/app/ui/code-highlight/index.ts
  tests/custom-schema-form.spec.ts
  tests/schema-comparison.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore(core): add possible refactor PRD
  # ValidateRootFormDirective v1 - Refacto.md
  package-lock.json
Owners: @ngx-vest-forms/maintainers

fix: resolve validationConfig race conditions and infinite loops
  .github/copilot-instructions.md
  angular.json
  package-lock.json
  package.json
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix: resolve validation config race conditions and separate signals issue
  .vscode/settings.json
  README.md
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor: improve validation config by removing nested subscriptions and timer hack
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

refactor: remove timer hack from ngAfterViewInit and add proper JSDoc
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

refactor: improve validation config debounce timing with proper constant
  projects/ngx-vest-forms/src/lib/constants.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/core-team

fix: implement race condition prevention and add comprehensive test
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

chore(copilot): update prerequisites and add chat guidelines to development instructions
  .github/copilot-instructions.md
Owners: @ngx-vest-forms/maintainers

docs(readme): correct property name from 'generalInformation' to 'generalInfo' in form bindings
  README.md
Owners: @ngx-vest-forms/maintainers

test: add comprehensive assertions for email validation verification
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

fix: remove unnecessary optional chaining in Angular templates
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix: implement reset button functionality in purchase form
  .playwright-mcp/purchase-form-initial-state.png
  .playwright-mcp/purchase-form-reset-button-not-working.png
  .playwright-mcp/purchase-form-reset-button-working.png
  .playwright-mcp/purchase-form-with-errors.png
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat: enhance CI/CD workflows with prerelease support
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .releaserc
Owners: @ngx-vest-forms/maintainers
