Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

docs(skills): improve ngx-vest-forms blur-save guidance
  .github/skills/ngx-vest-forms/SKILL.md
  .github/skills/ngx-vest-forms/core/SKILL.md
  .github/skills/ngx-vest-forms/dynamic-form-behavior/SKILL.md
  .github/skills/ngx-vest-forms/evals/evals.json
  .github/skills/ngx-vest-forms/field-blur-events/SKILL.md
  .github/skills/ngx-vest-forms/validation-config-builder/SKILL.md
Owners: @ngx-vest-forms/maintainers

chore(gitignore): add ngx-vest-forms-workspace to ignored files
  .gitignore
Owners: @ngx-vest-forms/maintainers

fix(field-blur): keep blur snapshots fresh across fields
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

fix(field-blur): sync touched state for dependent validation
  e2e/pages/auto-save-demo/auto-save-demo.form.tests.ts
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore(dependencies): update postcss and typescript-eslint to latest versions
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

fix(utils): small bug-sweep cleanups (refs #104-#107)
  PRD-bug-sweep.md
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/utils/equality.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(utils): address PR #111 review feedback
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
Owners: @ngx-vest-forms/core-team

docs(prd): align Bundle D equality test plan with implementation
  PRD-bug-sweep.md
Owners: @ngx-vest-forms/maintainers

test(utils): add prototype-collision and cloneDeep warn-once tests
  projects/ngx-vest-forms/src/lib/utils/field-clearing.spec.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
Owners: @ngx-vest-forms/core-team

fix(validations): ensure end date validation checks for existence of start and end dates
  projects/examples/src/app/shared/validations/validation-demo.validations.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

test(utils): tighten cloneDeep warn-once test and pin null-merge preconditions
  projects/ngx-vest-forms/src/lib/utils/form-utils.cloneDeep-deprecation.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
Owners: @ngx-vest-forms/core-team

ci: cache Playwright browsers and install chromium only
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

fix(shape-validation): warn TYPE_MISMATCH when shape expects primitive but value is opaque
  CHANGELOG.md
  projects/ngx-vest-forms/src/lib/utils/shape-validation.spec.ts
  projects/ngx-vest-forms/src/lib/utils/shape-validation.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(core): address PR #108 review feedback (destroy-scheduler cleanup, async validator emission)
  CHANGELOG.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/destroy-scheduler.spec.ts
  projects/ngx-vest-forms/src/lib/utils/destroy-scheduler.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(equality): handle functions as reference-only and document cycle-detection allocations
  projects/ngx-vest-forms/src/lib/utils/equality.spec.ts
  projects/ngx-vest-forms/src/lib/utils/equality.ts
Owners: @ngx-vest-forms/core-team

refactor(equality): collapse cycle tracking to a single seen WeakMap
  projects/ngx-vest-forms/src/lib/utils/equality.ts
Owners: @ngx-vest-forms/core-team

feat(equality): add NGX_EQUALITY_FN injection token + use Object.is for top-level check
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/tokens/equality.token.spec.ts
  projects/ngx-vest-forms/src/lib/tokens/equality.token.ts
  projects/ngx-vest-forms/src/lib/utils/equality.spec.ts
  projects/ngx-vest-forms/src/lib/utils/equality.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/core-team

docs(tokens): document NGX_EQUALITY_FN and link from utils README
  docs/API-TOKENS.md
  projects/ngx-vest-forms/src/lib/utils/README.md
Owners: @ngx-vest-forms/maintainers

fix(utils): reject '.[' separator patterns in parseFieldPath
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.ts
Owners: @ngx-vest-forms/core-team

fix(state-sync): correct linkedSignal/debounce/late-attach/mode bugs (#106)
  CHANGELOG.md
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/state-sync-correctness.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/pending-state.utils.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(state-sync): apply PR #112 review feedback
  CHANGELOG.md
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/state-sync-correctness.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(state-sync): address PR #112 review comments
  .releaserc
  package-lock.json
  package.json
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/state-sync-correctness.spec.ts
  projects/ngx-vest-forms/src/lib/utils/pending-state.utils.spec.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore(docs): archive bug-sweep PRD under docs/prd/
  docs/prd/PRD-bug-sweep.md
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

Notes added by 'git notes add'
  51bbbbfbebc61bca3b4fa4e6a4509aeb0cd63647
Owners: @ngx-vest-forms/maintainers

chore(skills): move ngx-vest-forms skill to .agents/skills, refresh for v2.7.0
  .agents/skills/ngx-vest-forms/SKILL.md
  .agents/skills/ngx-vest-forms/built-in-wrappers/SKILL.md
  .agents/skills/ngx-vest-forms/child-components/SKILL.md
  .agents/skills/ngx-vest-forms/composite-adapter/SKILL.md
  .agents/skills/ngx-vest-forms/core/SKILL.md
  .agents/skills/ngx-vest-forms/custom-wrapper-patterns/SKILL.md
  .agents/skills/ngx-vest-forms/custom-wrapper-patterns/references/patterns.md
  .agents/skills/ngx-vest-forms/dynamic-form-behavior/SKILL.md
  .agents/skills/ngx-vest-forms/dynamic-form-behavior/references/decision-guide.md
  .agents/skills/ngx-vest-forms/evals/evals.json
  .agents/skills/ngx-vest-forms/field-blur-events/SKILL.md
  .agents/skills/ngx-vest-forms/root-form-validation/SKILL.md
  .agents/skills/ngx-vest-forms/validation-config-builder/SKILL.md
  .agents/skills/ngx-vest-forms/validation-config-builder/references/decision-guide.md
  .github/copilot-instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  docs/VESTJS-SKILL.md
Owners: @ngx-vest-forms/maintainers

feat(skills): move vestjs skill to .agents
  .agents/skills/vestjs/SKILL.md
  .agents/skills/vestjs/async-and-warnings/SKILL.md
  .agents/skills/vestjs/conditional-control-flow/SKILL.md
  .agents/skills/vestjs/conditional-control-flow/references/decision-guide.md
  .agents/skills/vestjs/core/SKILL.md
  .agents/skills/vestjs/enforce-and-custom-rules/SKILL.md
  .agents/skills/vestjs/enforce-and-custom-rules/references/design-guide.md
  .agents/skills/vestjs/evals/5.x.json
  .agents/skills/vestjs/evals/evals.json
  .agents/skills/vestjs/references/5.x/source-map.md
  .agents/skills/vestjs/references/version-selection.md
  .agents/skills/vestjs/results-groups-and-types/SKILL.md
  .agents/skills/vestjs/server-side-validation/SKILL.md
Owners: @ngx-vest-forms/maintainers

docs(skills): update local skill references
  .github/instructions/playwright.instructions.md
  .github/instructions/vitest.instructions.md
  README.md
  docs/VESTJS-SKILL.md
Owners: @ngx-vest-forms/maintainers

feat(examples): add native Vest schema demo
  e2e/pages/native-schema-demo/native-schema-demo.form.spec.ts
  e2e/pages/native-schema-demo/native-schema-demo.form.tests.ts
  e2e/pages/native-schema-demo/native-schema-demo.page.spec.ts
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/models/native-schema-demo.model.ts
  projects/examples/src/app/pages/native-schema-demo/native-schema-demo.form.html
  projects/examples/src/app/pages/native-schema-demo/native-schema-demo.form.ts
  projects/examples/src/app/pages/native-schema-demo/native-schema-demo.page.html
  projects/examples/src/app/pages/native-schema-demo/native-schema-demo.page.ts
  projects/examples/src/app/pages/native-schema-demo/native-schema-demo.validations.ts
  projects/examples/src/main.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix: address PR review follow-ups
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/examples/src/app/pages/business-hours-form/business-hours.page.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

refactor(tests): remove deprecated vest suite patterns
  projects/examples/src/app/pages/business-hours-form/business-hours.form.ts
  projects/examples/src/app/pages/purchase-form/purchase.form.ts
  projects/examples/src/app/pages/purchase-form/purchase.validations.spec.ts
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.form.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/state-sync-correctness.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor(types): narrow purchase validation dependency
  projects/examples/src/app/pages/purchase-form/purchase.validations.spec.ts
  projects/examples/src/app/pages/purchase-form/purchase.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(ci): stabilize browser test timeouts for slower CI runners
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

test(ci): reset Vest 6 suites between tests to prevent state leakage
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

revert: roll back unsuccessful test-spec changes
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

refactor(forms): rename Sc/SC_ identifiers to Ngx/NGX_ and fix doc kebab-attr usages
  docs/API-TOKENS.md
  docs/CHILD-COMPONENTS.md
  docs/COMPLETE-EXAMPLE.md
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/ngx-vest-forms/src/lib/directives/error-display-mode.token.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.aot.spec.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

test(ci): reset Vest 6 stateful suites between tests + bump CI timeouts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

docs(skills): document Vest 6 suite testing patterns and CI timing
  .agents/skills/ngx-vest-forms/SKILL.md
  .agents/skills/ngx-vest-forms/core/SKILL.md
  .agents/skills/ngx-vest-forms/core/references/testing-vest-6.md
  .agents/skills/ngx-vest-forms/root-form-validation/SKILL.md
Owners: @ngx-vest-forms/maintainers

docs(skills): correct CI fix attribution in Vest 6 testing reference
  .agents/skills/ngx-vest-forms/core/references/testing-vest-6.md
Owners: @ngx-vest-forms/maintainers

docs(meta): sync Vest instructions and skills
  .agents/skills/vestjs/SKILL.md
  .agents/skills/vestjs/async-and-warnings/SKILL.md
  .agents/skills/vestjs/core/SKILL.md
  .agents/skills/vestjs/enforce-and-custom-rules/SKILL.md
  .github/copilot-instructions.md
  .github/instructions/vest.instructions.md
  .github/instructions/vitest.instructions.md
Owners: @ngx-vest-forms/maintainers

docs(migration): add v3 deprecation removals section and clean stale aliases
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/ngx-vest-forms/src/lib/utils/README.md
Owners: @ngx-vest-forms/maintainers

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors
