Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

chore(gitignore): ignore /.worktrees/
  .gitignore
Owners: @ngx-vest-forms/maintainers

docs(meta): refresh Vest 6 guidance
  .agents/skills/vestjs/SKILL.md
  .agents/skills/vestjs/async-and-warnings/SKILL.md
  .agents/skills/vestjs/conditional-control-flow/SKILL.md
  .agents/skills/vestjs/conditional-control-flow/references/decision-guide.md
  .agents/skills/vestjs/core/SKILL.md
  .agents/skills/vestjs/evals/evals.json
  .agents/skills/vestjs/references/version-selection.md
  .agents/skills/vestjs/results-groups-and-types/SKILL.md
  .agents/skills/vestjs/server-side-validation/SKILL.md
  .github/instructions/ngx-vest-forms.instructions.md
  .github/instructions/vest.instructions.md
Owners: @ngx-vest-forms/maintainers

ci(test): split test:lib into three shards to avoid browser-session degradation
  .agents/skills/ngx-vest-forms/core/references/testing-vest-6.md
  package.json
Owners: @ngx-vest-forms/maintainers

fix(stories): use ngxControlWrapper attribute (camelCase) in test stories
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.ts
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
Owners: @ngx-vest-forms/core-team

docs: align stale references to NgxTypedVestSuite, cloneDeep, DeepPartial with v3 removals
  .agents/skills/ngx-vest-forms/SKILL.md
  .agents/skills/ngx-vest-forms/composite-adapter/SKILL.md
  .agents/skills/ngx-vest-forms/core/SKILL.md
  docs/COMPLETE-EXAMPLE.md
  docs/FIELD-PATHS.md
  docs/TYPE-COMPATIBILITY.md
Owners: @ngx-vest-forms/maintainers

chore(storybook): remove stale Compodoc artifact and integration
  projects/ngx-vest-forms/.storybook/preview.ts
  projects/ngx-vest-forms/documentation.json
Owners: @ngx-vest-forms/maintainers

refactor(ngx-vest-forms): migrate wrappers to CSS custom properties
  .github/agents/🎭 healer.agent.md
  README.md
  angular.json
  docs/CUSTOM-CONTROL-WRAPPERS.md
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.form.html
  projects/examples/src/app/pages/business-hours-form/business-hours.form.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.page.html
  projects/examples/src/app/pages/business-hours-form/business-hours.validations.ts
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.html
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.scss
  projects/examples/src/app/ui/form-state/form-state.component.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/README.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.css
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.scss
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.css
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

fix: address all CodeRabbit review comments
  README.md
  docs/CUSTOM-CONTROL-WRAPPERS.md
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.form.html
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.html
  projects/examples/src/app/ui/form-state/form-state.component.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor(wrappers): collapse dark color tokens, drop dead content wrapper
  projects/ngx-vest-forms/src/lib/components/control-wrapper/README.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.css
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.css
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(wrappers): make public CSS tokens overridable under emulated encapsulation
  docs/CUSTOM-CONTROL-WRAPPERS.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.css
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.css
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

test(e2e): drop obsolete .ngx-control-wrapper__content sanity check
  e2e/pages/validation-config-demo/live-regions-stable.form.tests.ts
Owners: @ngx-vest-forms/maintainers

test(simple-form): per-instance suite factory + TestBed reset hooks
  projects/ngx-vest-forms/src/lib/testing/simple-form.demo.component.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.spec.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.ts
Owners: @ngx-vest-forms/core-team

perf: walk control tree over a shared segment stack
  projects/ngx-vest-forms/src/lib/utils/collect-touched-paths.ts
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.ts
Owners: @ngx-vest-forms/core-team

fix(lint): use ReadonlyArray<T> for non-simple types and drop unused imports
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.ts
Owners: @ngx-vest-forms/core-team

fix: use create() for inline suite to match V6 directive invocation
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.spec.ts
Owners: @ngx-vest-forms/core-team

fix: use ngxControlWrapper attribute selector
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.spec.ts
Owners: @ngx-vest-forms/core-team

fix: use ngxControlWrapper attribute selector
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.spec.ts
Owners: @ngx-vest-forms/core-team

fix: use ngxControlWrapper attribute selector
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.spec.ts
Owners: @ngx-vest-forms/core-team

fix: assert rootForm error specifically, not the full errors object
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.spec.ts
Owners: @ngx-vest-forms/core-team

fix: poll the omitWhen 'no error' assertions instead of asserting once
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.spec.ts
Owners: @ngx-vest-forms/core-team

fix: reset retained Vest results across and within tests
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.spec.ts
Owners: @ngx-vest-forms/core-team

test: skip Scenario 5 — covered by unit test, env-sensitive in browser spec
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.spec.ts
Owners: @ngx-vest-forms/core-team

ci: pass storybook:test when no play stories remain
  package.json
Owners: @ngx-vest-forms/maintainers

ci: drop test-storybook invocation from storybook:test
  package.json
Owners: @ngx-vest-forms/maintainers

ci: drop Storybook-era @swc/core rebuild and verify steps
  .github/workflows/ci.yml
Owners: @ngx-vest-forms/maintainers

ci: drop Storybook-era @swc/core rebuild and verify steps
  .github/workflows/ci.yml
Owners: @ngx-vest-forms/maintainers

chore: define branch policy and v3-snapshot release config
  .github/copilot-instructions.md
  .github/dependabot.yml
  .releaserc
Owners: @ngx-vest-forms/maintainers

chore: scope release/v3 prereleases to the 3.x version line
  .releaserc
Owners: @ngx-vest-forms/maintainers

docs: add branch policy section to copilot-instructions on release/v3
  .github/copilot-instructions.md
Owners: @ngx-vest-forms/maintainers

chore: align release/v3 .releaserc and capitalize bot names
  .github/copilot-instructions.md
  .releaserc
Owners: @ngx-vest-forms/maintainers

chore(deps-dev): add @eslint/js explicit dep for ESLint 10 flat config
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

fix(vest-runner): align with NgxVestSuite API and drop dead abort scaffolding
  projects/ngx-vest-forms/src/lib/directives/validation-options.ts
  projects/ngx-vest-forms/src/lib/utils/vest-runner.spec.ts
  projects/ngx-vest-forms/src/lib/utils/vest-runner.ts
Owners: @ngx-vest-forms/core-team

docs(vest-runner): clarify deferred-emission contract
  projects/ngx-vest-forms/src/lib/utils/vest-runner.ts
Owners: @ngx-vest-forms/core-team

refactor(vest-runner): tighten runner contract and drop redundant operators
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/vest-runner.spec.ts
  projects/ngx-vest-forms/src/lib/utils/vest-runner.ts
Owners: @ngx-vest-forms/core-team

docs: trim to Vest 6 native patterns; drop unshipped library claims
  .agents/skills/ngx-vest-forms/dynamic-form-behavior/SKILL.md
  .agents/skills/vestjs/async-and-warnings/SKILL.md
  .agents/skills/vestjs/conditional-control-flow/SKILL.md
  .agents/skills/vestjs/core/SKILL.md
  docs/COMPOSABLE-VALIDATIONS.md
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
Owners: @ngx-vest-forms/maintainers

docs(form-control-state): clarify lateAttachFor reset condition
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/core-team

test(validation-config-pipeline): type rest params on updateValueAndValidity overrides
  projects/ngx-vest-forms/src/lib/utils/validation-config-pipeline.spec.ts
Owners: @ngx-vest-forms/core-team

fix(vest-runner): treat empty focus values as no-focus and align mock typing
  projects/ngx-vest-forms/src/lib/utils/vest-runner.spec.ts
  projects/ngx-vest-forms/src/lib/utils/vest-runner.ts
Owners: @ngx-vest-forms/core-team

refactor(examples): drop no-op validationFocus plumbing; rewrite docs example with real groups
  docs/COMPOSABLE-VALIDATIONS.md
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.ts
  projects/examples/src/app/pages/wizard-form/wizard.form.html
  projects/examples/src/app/pages/wizard-form/wizard.form.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(vest-runner): only abort the AbortController on cancellation, not normal completion
  projects/ngx-vest-forms/src/lib/utils/vest-runner.spec.ts
  projects/ngx-vest-forms/src/lib/utils/vest-runner.ts
Owners: @ngx-vest-forms/core-team

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors
