Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

fix: improve CI stability and handle SWC native binding issues
  .github/workflows/ci.yml
  package.json
Owners: @ngx-vest-forms/maintainers

style(prettier): apply formatting
  projects/examples/src/app/components/ui/address/address.component.ts
  projects/ngx-vest-forms/.storybook/main.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validation-options.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

fix: resolve Storybook 9 CI issues and remove fallback strategy
  .github/workflows/ci.yml
  jest.config.ts
  package-lock.json
  package.json
  projects/ngx-vest-forms/.storybook/main.ts
  projects/ngx-vest-forms/.storybook/test-runner-jest.config.js
Owners: @ngx-vest-forms/maintainers

chore: improve storybook and jest settings
  .node-version
  jest.config.ts
  package-lock.json
  package.json
  projects/ngx-vest-forms/.storybook/test-runner-jest.config.js
Owners: @ngx-vest-forms/maintainers

ci: remove cache clear
  .github/workflows/ci.yml
Owners: @ngx-vest-forms/maintainers

ci: add integration tests for Storybook and update CI workflow
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  angular.json
  package.json
  projects/ngx-vest-forms/.storybook/main.ts
Owners: @ngx-vest-forms/maintainers

chore(formDirective): properly use takeUntilDestroy
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

refactor: simplify subscription management and update GitHub workflows
  .github/workflows/cd.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

chore: update minimum angular version to 18
  projects/ngx-vest-forms/package.json
Owners: @ngx-vest-forms/maintainers

fix(ci): resolve jest module name collision in storybook tests
  jest.config.ts
Owners: @ngx-vest-forms/maintainers

fix(formDirective): ensure validation flag is cleared and use takeUntilDestroyed
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

fix: resolve Storybook test CI issues
  .github/workflows/ci.yml
  jest.config.ts
  package.json
  projects/ngx-vest-forms/.storybook/test-runner.ts
  test-runner-jest.config.js
Owners: @ngx-vest-forms/maintainers

refactor: simplify test-runner Jest config to minimal working solution
  test-runner-jest.config.js
Owners: @ngx-vest-forms/maintainers

chore: re-generate package-lock
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

fix: remove manual TestBed initialization and update Jest setup
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  projects/ngx-vest-forms/src/setup-jest.ts
Owners: @ngx-vest-forms/core-team

chore: update to new ngx-vest-forms url
  package.json
  projects/ngx-vest-forms/package.json
Owners: @ngx-vest-forms/maintainers

docs: enhance README with detailed introduction, usage examples, and validation performance insights
  README.md
Owners: @ngx-vest-forms/maintainers

chore(copilot): enhance copilot instructions
  .github/copilot-instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  .github/instructions/vest.instructions.md
Owners: @ngx-vest-forms/maintainers

docs: enhance README with developer resources and comprehensive acknowledgments
  README.md
Owners: @ngx-vest-forms/maintainers

chore(copilot): remove wrong input from example code
  .github/instructions/vest.instructions.md
Owners: @ngx-vest-forms/maintainers

docs: add architectural explanation for validationConfig and update README navigation
  .github/instructions/ngx-vest-forms.instructions.md
  .github/prompts/create-readme.prompt.md
  README.md
Owners: @ngx-vest-forms/maintainers

docs(instructions): update Copilot and Vest.js instructions for clarity and best practices
  .github/copilot-instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  .github/instructions/vest.instructions.md
Owners: @ngx-vest-forms/maintainers

fix(build): resolve Tailwind CSS v4 + Angular CLI compatibility issue
  docs/TAILWIND_V4_MIGRATION.md
  package-lock.json
  package.json
  postcss.config.js
Owners: @ngx-vest-forms/maintainers

docs(tailwind): improve markdown formatting in migration guide
  .postcssrc.json
  docs/TAILWIND_V4_MIGRATION.md
  projects/examples/src/app/02-advanced-patterns/multi-step-form/index.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.component.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.content.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.form.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.page.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(examples): add comprehensive multi-step form with advanced Vest.js patterns
  projects/examples/src/app/app.component.html
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/app.routes.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(examples): enhance validation suites with TypeScript safety and advanced patterns
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.validations.ts
  projects/examples/src/app/01-fundamentals/form-state-demo/form-state-demo.validations.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(styles): modernize Tailwind CSS v4 theme configuration
  projects/examples/src/styles.scss
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

build(tests): refine Vitest project configuration to include only the library project
  projects/examples/vite.config.mts
  vite.config.mts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(validation): add TypeScript field name type safety pattern
  README.md
  docs/ngx-vest-forms-best-practices.md
  projects/examples/README.md
  projects/examples/src/app/01-fundamentals/basic-validation/README.md
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.validations.ts
  projects/examples/src/app/01-fundamentals/form-state-demo/form-state-demo.validations.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.validations.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: update Angular dependencies to version 20.3.0
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore: update semantic-release and hook-std to latest versions
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

docs(examples/basic-validation): correct syntax in userValidationSuite
  projects/examples/src/app/01-fundamentals/basic-validation/README.md
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: update @angular-eslint dependencies to version 20.3.0
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

ci: update fetch-depth in CD workflow and fix storybook:test script path
  .github/workflows/cd.yml
  package.json
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  e4ee6ee5ef2a5edd427f73da682d229f03d47725
Owners: @ngx-vest-forms/maintainers

ci: update CI and prerelease workflows
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .releaserc
Owners: @ngx-vest-forms/maintainers

ci: update .releaserc
  .releaserc
Owners: @ngx-vest-forms/maintainers

ci: add 'next' branch support
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .releaserc
Owners: @ngx-vest-forms/maintainers

ci: use github instead of git
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .releaserc
Owners: @ngx-vest-forms/maintainers

test(storybook): replace setTimeout in play functions with waitFor to reduce flakiness
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors
