Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

chore(release): fix semantic-release branches config (valid maintenance ranges, master as release)
  .releaserc
Owners: @ngx-vest-forms/maintainers

refactor(tests): update imports for validation config tests
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

fix(tests): specify input type for amount field and update suite parameter name
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

Notes added by 'git notes add'
  e4ee6ee5ef2a5edd427f73da682d229f03d47725
Owners: @ngx-vest-forms/maintainers

ci(release): add v1 release channel
  .releaserc
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  e4ee6ee5ef2a5edd427f73da682d229f03d47725
Owners: @ngx-vest-forms/maintainers

feat(docs): add proper build status
  README.md
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  9ed6ac30bb537f75dbb06e3e38f05a796b34fa95
Owners: @ngx-vest-forms/maintainers

chore(release): standardize maintenance channel to release-v1 and avoid semver-like npm tags
  .releaserc
Owners: @ngx-vest-forms/maintainers

feat(validation): add dynamic validationConfig handling and prevent infinite loops
  README.md
  projects/ngx-vest-forms/control-wrapper/README.md
  projects/ngx-vest-forms/core/src/lib/directives/__tests__/validations/async-validation.validations.ts
  projects/ngx-vest-forms/core/src/lib/directives/form-core.directive.ts
  projects/ngx-vest-forms/core/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/core/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/test-setup.ts
Owners: @ngx-vest-forms/maintainers

feat: add triggerFormValidation() API for dynamic form structure changes
  README.md
  docs/STRUCTURE_CHANGE_DETECTION.md
  projects/ngx-vest-forms/.vscode/tasks.json
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat(core): introduce field clearing utilities and equality checks
  README.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.ts
  projects/ngx-vest-forms/src/lib/utils/equality.spec.ts
  projects/ngx-vest-forms/src/lib/utils/equality.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.spec.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

build: expand keywords in package.json for better discoverability
  projects/ngx-vest-forms/package.json
Owners: @ngx-vest-forms/maintainers

chore(utils) build field-clearing.ts result once
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
Owners: @ngx-vest-forms/core-team

chore(utils): improve equality to check for function type
  projects/ngx-vest-forms/src/lib/utils/equality.spec.ts
  projects/ngx-vest-forms/src/lib/utils/equality.ts
Owners: @ngx-vest-forms/core-team

build(deps): update angular 20.3.1
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore: update semantic-release to version 24.2.9
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

test(storybook): use proper type for formDirective errors
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.ts
Owners: @ngx-vest-forms/core-team

test: remove console logs and stale validation checks in dynamic structure tests
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation.spec.ts
Owners: @ngx-vest-forms/core-team

test(equalit): remove timing based tests
  projects/ngx-vest-forms/src/lib/utils/equality.spec.ts
Owners: @ngx-vest-forms/core-team

style: correct code block formatting in README
  README.md
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  7c5a496394bac39080c8e05860ea096206366604
Owners: @ngx-vest-forms/maintainers

chore: initial architecture concepts
  .github/__ngx-vest-forms.instructions.md
  docs/inverted-vest/__advanced_inverted-vestjs-architecture-prd.md
  docs/inverted-vest/__initial_architecture_plan_inverted-vestjs-architecture-prd_old.md
  docs/inverted-vest/__pre_fine-tuned_create-vest-form_architecture copy.md
  docs/inverted-vest/create-vest-form_architecture.md
  docs/inverted-vest/ngform-sync-decision-guide.md
Owners: @ngx-vest-forms/maintainers

build(vscode): streamline Vest.js guide instructions
  .github/instructions/vest.instructions.md
Owners: @ngx-vest-forms/maintainers

docs(architecture): add comprehensive project blueprint and derived signals API
  .github/chatmodes/beast-mode-3.chatmode.md
  .github/chatmodes/plan mode.chatmode.md
  docs/inverted-vest/Project_Architecture_Blueprint.md
  docs/inverted-vest/create-vest-form_architecture.md
  docs/inverted-vest/derived-field-signals.md
Owners: @ngx-vest-forms/maintainers

docs: move the old v2 refactor docs
  docs/inverted-vest/BREAKING_CHANGES_INTERNAL.md
  docs/inverted-vest/BREAKING_CHANGES_PUBLIC_API.md
  docs/inverted-vest/CHANGES_OVERVIEW.md
  docs/inverted-vest/IMPLEMENTATION-CHECKLIST.md
  docs/inverted-vest/MIGRATION_GUIDE_V2.md
  docs/inverted-vest/MODULARIZATION_SUMMARY.md
  docs/inverted-vest/PRD_HTML_VALIDATION_DETECTION.md
  docs/inverted-vest/README_V1.md
  docs/inverted-vest/TAILWIND_V4_MIGRATION.md
  docs/inverted-vest/V2_IMPLEMENTATION_PLAN.md
  docs/inverted-vest/V2_REFACTOR_PRD.md
  docs/inverted-vest/V2_REFACTOR_SUMMARY.md
  docs/inverted-vest/examples-todo.md
  docs/inverted-vest/form-control-state-directive.md
  docs/inverted-vest/form-error-display-directive.md
  docs/inverted-vest/ngx-vest-forms-best-practices.md
  docs/inverted-vest/redesign-todo.md
  docs/inverted-vest/refactor.md
  docs/inverted-vest/v1-intend.md
  docs/inverted-vest/validateRootForm_v1.md
  docs/inverted-vest/validateRootForm_v2.md
  docs/inverted-vest/validation-config-refactor.md
Owners: @ngx-vest-forms/maintainers

docs: move the old v2 refactor docs
  docs/old-v2-refactor/BREAKING_CHANGES_INTERNAL.md
  docs/old-v2-refactor/BREAKING_CHANGES_PUBLIC_API.md
  docs/old-v2-refactor/CHANGES_OVERVIEW.md
  docs/old-v2-refactor/IMPLEMENTATION-CHECKLIST.md
  docs/old-v2-refactor/MIGRATION_GUIDE_V2.md
  docs/old-v2-refactor/MODULARIZATION_SUMMARY.md
  docs/old-v2-refactor/PRD_HTML_VALIDATION_DETECTION.md
  docs/old-v2-refactor/TAILWIND_V4_MIGRATION.md
  docs/old-v2-refactor/examples-todo.md
  docs/old-v2-refactor/form-control-state-directive.md
  docs/old-v2-refactor/form-error-display-directive.md
  docs/old-v2-refactor/ngx-vest-forms-best-practices.md
  docs/old-v2-refactor/redesign-todo.md
  docs/old-v2-refactor/refactor.md
  docs/old-v2-refactor/v1-intend.md
  docs/old-v2-refactor/validateRootForm_v1.md
  docs/old-v2-refactor/validateRootForm_v2.md
  docs/old-v2-refactor/validation-config-refactor.md
Owners: @ngx-vest-forms/maintainers

feat: add composable error display directives
  .github/chatmodes/4.1-Beast.chatmode.md
  .github/instructions/ngx-vest-forms.instructions.md
  .github/instructions/vest.instructions.md
  PRD-composable-error-display.md
  jest.config.ts
  jest.preset.js
  package-lock.json
  package.json
  projects/ngx-vest-forms/documentation.json
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/error-display-mode.token.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation.spec.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  projects/ngx-vest-forms/src/lib/utils/deep-required.spec.ts
  projects/ngx-vest-forms/src/lib/utils/deep-required.ts
  projects/ngx-vest-forms/src/public-api.ts
  projects/ngx-vest-forms/src/test-setup.ts
  tsconfig.spec.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat: add path utilities for nested object manipulation
  docs/README_V1.md
  docs/inverted-vest/Project_Architecture_Blueprint.md
  docs/inverted-vest/V2_IMPLEMENTATION_PLAN.md
  docs/inverted-vest/V2_REFACTOR_PRD.md
  docs/inverted-vest/V2_REFACTOR_SUMMARY.md
  docs/inverted-vest/create-vest-form_architecture.md
  projects/ngx-vest-forms/control-wrapper/src/lib/ngx-control-wrapper.component.ts
  projects/ngx-vest-forms/control-wrapper/src/public-api.ts
  projects/ngx-vest-forms/core/ng-package.json
  projects/ngx-vest-forms/core/src/lib/compose-vest-forms.ts
  projects/ngx-vest-forms/core/src/lib/create-vest-form.spec.ts
  projects/ngx-vest-forms/core/src/lib/create-vest-form.ts
  projects/ngx-vest-forms/core/src/lib/debug.spec.ts
  projects/ngx-vest-forms/core/src/lib/error-strategies.spec.ts
  projects/ngx-vest-forms/core/src/lib/error-strategies.ts
  projects/ngx-vest-forms/core/src/lib/form-arrays.ts
  projects/ngx-vest-forms/core/src/lib/utils/path-utils.spec.ts
  projects/ngx-vest-forms/core/src/lib/utils/path-utils.ts
  projects/ngx-vest-forms/core/src/lib/utils/value-extraction.spec.ts
  projects/ngx-vest-forms/core/src/lib/utils/value-extraction.ts
  projects/ngx-vest-forms/core/src/lib/vest-form.types.spec.ts
  projects/ngx-vest-forms/core/src/lib/vest-form.types.ts
  projects/ngx-vest-forms/core/src/public-api.ts
  projects/ngx-vest-forms/public-api.ts
  projects/ngx-vest-forms/test-setup.ts
Owners: @ngx-vest-forms/maintainers

build(copilot): enhance testing guidelines for fakes and mocks
  .github/instructions/vitest-test.instructions.md
Owners: @ngx-vest-forms/maintainers

feat(core): implement Enhanced Proxy API for dynamic field access
  docs/enhanced-proxy.md
  projects/ngx-vest-forms/core/src/lib/create-vest-form.spec.ts
  projects/ngx-vest-forms/core/src/lib/create-vest-form.ts
  projects/ngx-vest-forms/core/src/lib/enhanced-proxy.README.md
  projects/ngx-vest-forms/core/src/lib/enhanced-proxy.ts
  projects/ngx-vest-forms/core/src/lib/error-strategies.ts
  projects/ngx-vest-forms/core/src/lib/utils/derived-field-registry.ts
  projects/ngx-vest-forms/core/src/lib/utils/derived-field.types.ts
  projects/ngx-vest-forms/core/src/lib/utils/path-utils.spec.ts
  projects/ngx-vest-forms/core/src/lib/utils/path-utils.ts
  projects/ngx-vest-forms/core/src/lib/utils/value-extraction.spec.ts
  projects/ngx-vest-forms/core/src/lib/utils/value-extraction.ts
  projects/ngx-vest-forms/core/src/lib/vest-form.types.ts
  projects/ngx-vest-forms/core/src/public-api.ts
Owners: @ngx-vest-forms/maintainers

chore(examples): remove old examples
  projects/examples/src/app/02-advanced-patterns/dynamic-arrays/dynamic-arrays.content.ts
  projects/examples/src/app/02-advanced-patterns/dynamic-arrays/dynamic-arrays.form.ts
  projects/examples/src/app/02-advanced-patterns/dynamic-arrays/dynamic-arrays.page.ts
  projects/examples/src/app/02-advanced-patterns/dynamic-arrays/dynamic-arrays.validations.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/index.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.component.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.content.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.form.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.page.ts
  projects/examples/src/app/02-advanced-patterns/multi-step-form/multi-step-form.validations.ts
  projects/examples/src/app/02-advanced-patterns/rule-composition/rule-composition-refactored.component.ts
  projects/examples/src/app/02-advanced-patterns/rule-composition/rule-composition.component.ts
  projects/examples/src/app/02-advanced-patterns/rule-composition/rule-composition.content.ts
  projects/examples/src/app/02-advanced-patterns/rule-composition/rule-composition.validations.ts
  projects/examples/src/app/02-advanced-patterns/server-side-validation/README.md
  projects/examples/src/app/02-advanced-patterns/server-side-validation/server-example.ts
  projects/examples/src/app/02-advanced-patterns/server-side-validation/server-side-validation-refactored.component.ts
  projects/examples/src/app/02-advanced-patterns/server-side-validation/server-side-validation.component.ts
  projects/examples/src/app/02-advanced-patterns/server-side-validation/server-side-validation.content.ts
  projects/examples/src/app/02-advanced-patterns/server-side-validation/server-side-validation.validations.ts
  projects/examples/src/app/02-core-features/business-hours-form/business-hours-form.model.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.content.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.manual-form.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.page.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.validations.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.wrapper-form.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/index.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/README.md
  projects/examples/src/app/04-schema-integration/schema-comparison/index.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.content.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.form.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.page.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.validations.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schemas/user.arktype.schema.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schemas/user.custom.schema.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schemas/user.valibot.schema.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schemas/user.zod.schema.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/user-profile.model.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: remove dead code
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/core-team

chore: guard shape validation effect
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

style: remove unused input import and clean up commented code
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/core-team

build(copilot): update copilot instructions and add ngx-vest-forms guidelines
  .github/__ngx-vest-forms.instructions.md
  .github/copilot-instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  83142fc38947c61701b822f9ee032eef853a92f5
Owners: @ngx-vest-forms/maintainers

chore(deps): update Angular and related dependencies to latest patch versions
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

docs: update README to enhance error display section and clarify usage of FormErrorDisplayDirective
  README.md
Owners: @ngx-vest-forms/maintainers

build(copilot): update vest instructions to clarify validation patterns and common mistakes
  .github/instructions/vest.instructions.md
Owners: @ngx-vest-forms/maintainers

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors
