Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors

Notes added by 'git notes add'
  461a624ff6dfa69de7c984b073ab0022683fe598
Owners: @ngx-vest-forms/maintainers

chore: do not use event.preventDefault
  projects/examples/src/app/components/smart/display-modes-demo/display-modes-demo.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs: update warning display modes section in README
  README.md
Owners: @ngx-vest-forms/maintainers

test: enhance username input tests with warning display assertions
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
Owners: @ngx-vest-forms/core-team

Notes added by 'git notes add'
  bc03eb8c9b1cd146b7bcd74e231e3b24124c76a4
Owners: @ngx-vest-forms/maintainers

Fix for Unused variable, import, function or class
  projects/ngx-vest-forms/eslint.config.mjs
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  a3d0560a1e1ca2721bc8798fe893b68d71c1ac21
Owners: @ngx-vest-forms/maintainers

build(dep): update dependencies
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

feat(examples/validation-config-demo): add cross-field requirement demo
  e2e/validation-config-demo.spec.ts
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.ts
  projects/examples/src/app/models/validation-demo.model.ts
  projects/examples/src/app/validations/validation-demo.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(ngx-vest-forms/validation-config): stabilize error display spec
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
Owners: @ngx-vest-forms/core-team

docs(ngx-vest-forms): note touch propagation removal
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

test(e2e): harden validation-config key features locator
  e2e/validation-config-demo.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor(validation-config): align docs and test locators
  e2e/validation-config-demo.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

test: fix TypeScript null safety issues in validation-config-error-display.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
Owners: @ngx-vest-forms/core-team

test(e2e): fix flaky wizard form test
  e2e/wizard-form.spec.ts
Owners: @ngx-vest-forms/maintainers

docs: improve documentation for validation state and dependent field behavior
  e2e/wizard-form.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: remove unused variable, import, function or class
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
Owners: @ngx-vest-forms/core-team

chore: allow beta releases from copilot branches
  .releaserc
Owners: @ngx-vest-forms/maintainers

fix(ci): ensure master branch exists for semantic-release version calculation
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

chore(demo): improve sidenav gap
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.html
  projects/examples/src/styles.scss
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(demo): add comprehensive ValidationConfig test coverage and fix NG0956 warning
  e2e/validation-config-demo.spec.ts
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/ngx-vest-forms/src/lib/directives/form-error-control.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore(docs): update paths for purchase form examples in documentation
  .github/copilot-instructions.md
  docs/COMPLETE-EXAMPLE.md
Owners: @ngx-vest-forms/maintainers

fix(examples): add proper active links
  projects/examples/src/app/app.component.html
  projects/examples/src/app/app.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore(.agents): add agent skills for development workflow
  .agents/skills/chrome-devtools/SKILL.md
  .agents/skills/git-commit/SKILL.md
  .agents/skills/make-skill-template/SKILL.md
  .agents/skills/refactor/SKILL.md
  .agents/skills/web-design-reviewer/SKILL.md
  .agents/skills/web-design-reviewer/references/framework-fixes.md
  .agents/skills/web-design-reviewer/references/visual-checklist.md
Owners: @ngx-vest-forms/maintainers

fix(form-state): align visible validation state and add grouped remaining rules
  .github/prompts/create-readme.prompt.md
  projects/examples/src/app/pages/purchase-form/purchase.form.html
  projects/examples/src/app/pages/purchase-form/purchase.form.ts
  projects/examples/src/app/pages/purchase-form/purchase.page.html
  projects/examples/src/app/pages/purchase-form/purchase.page.ts
  projects/examples/src/app/pages/purchase-form/purchase.validations.ts
  projects/examples/src/app/ui/form-state/form-state.component.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

noop
  _noop.txt
Owners: @ngx-vest-forms/maintainers

test(e2e): reorganize specs by example page and retire legacy files
  e2e/README.md
  e2e/app/app.page.spec.ts
  e2e/example.spec.ts
  e2e/pages/business-hours-form/business-hours.form.spec.ts
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/business-hours-form/business-hours.page.spec.ts
  e2e/pages/display-modes-demo/display-modes-demo.form.spec.ts
  e2e/pages/display-modes-demo/display-modes-demo.page.spec.ts
  e2e/pages/purchase-form/date-field-shape-validation.form.tests.ts
  e2e/pages/purchase-form/get-all-form-errors.form.tests.ts
  e2e/pages/purchase-form/purchase.form.spec.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
  e2e/pages/purchase-form/purchase.page.spec.ts
  e2e/pages/validation-config-demo/aria-describedby-merge.form.tests.ts
  e2e/pages/validation-config-demo/enhanced-validation-config.form.tests.ts
  e2e/pages/validation-config-demo/live-regions-stable.form.tests.ts
  e2e/pages/validation-config-demo/password-warnings.form.tests.ts
  e2e/pages/validation-config-demo/validation-config-demo.form.spec.ts
  e2e/pages/validation-config-demo/validation-config-demo.form.tests.ts
  e2e/pages/validation-config-demo/validation-config-demo.page.spec.ts
  e2e/pages/wizard-form/wizard-form.page.spec.ts
  e2e/pages/wizard-form/wizard.form.spec.ts
  e2e/pages/wizard-form/wizard.form.tests.ts
  playwright.config.ts
Owners: @ngx-vest-forms/maintainers

fix(agents): update model version to GPT-5.3-Codex in planner, generator, and healer agents
  .github/agents/ 🎭 planner.agent.md
  .github/agents/🎭 generator.agent.md
  .github/agents/🎭 healer.agent.md
Owners: @ngx-vest-forms/maintainers

chore: remove accidental noop file
  _noop.txt
Owners: @ngx-vest-forms/maintainers

feat(skills): reorganize and enhance typescript & design skills
  .agents/skills/web-design-reviewer/references/framework-fixes.md
  .github/skills/chrome-devtools/SKILL.md
  .github/skills/frontend-design/SKILL.md
  .github/skills/git-commit/SKILL.md
  .github/skills/make-skill-template/SKILL.md
  .github/skills/pr-toolkit/SKILL.md
  .github/skills/pr-toolkit/code-reviewer/SKILL.md
  .github/skills/pr-toolkit/code-simplifier/SKILL.md
  .github/skills/pr-toolkit/comment-analyzer/SKILL.md
  .github/skills/pr-toolkit/pr-test-analyzer/SKILL.md
  .github/skills/pr-toolkit/silent-failure-hunter/SKILL.md
  .github/skills/pr-toolkit/type-design-analyzer/SKILL.md
  .github/skills/refactor/SKILL.md
  .github/skills/skill-creator/SKILL.md
  .github/skills/skill-creator/license.txt
  .github/skills/skill-creator/scripts/init_skill.py
  .github/skills/skill-creator/scripts/package_skill.py
  .github/skills/skill-creator/scripts/quick_validate.py
  .github/skills/typescript/SKILL.md
  .github/skills/typescript/references/generics-and-inference.md
  .github/skills/typescript/references/patterns-and-idioms.md
  .github/skills/typescript/references/tsconfig-reference.md
  .github/skills/typescript/references/type-system.md
  .github/skills/typescript/references/utility-types.ts
  .github/skills/web-design-guidelines/SKILL.md
  .github/skills/web-design-reviewer/SKILL.md
  .github/skills/web-design-reviewer/references/framework-fixes.md
  .github/skills/web-design-reviewer/references/visual-checklist.md
Owners: @ngx-vest-forms/maintainers

build(skills): add vitest and playwright skills
  .agent/skills/vitest
  .agents/skills/vitest/GENERATION.md
  .agents/skills/vitest/SKILL.md
  .agents/skills/vitest/references/advanced-environments.md
  .agents/skills/vitest/references/advanced-projects.md
  .agents/skills/vitest/references/advanced-type-testing.md
  .agents/skills/vitest/references/advanced-vi.md
  .agents/skills/vitest/references/core-cli.md
  .agents/skills/vitest/references/core-config.md
  .agents/skills/vitest/references/core-describe.md
  .agents/skills/vitest/references/core-expect.md
  .agents/skills/vitest/references/core-hooks.md
  .agents/skills/vitest/references/core-test-api.md
  .agents/skills/vitest/references/features-concurrency.md
  .agents/skills/vitest/references/features-context.md
  .agents/skills/vitest/references/features-coverage.md
  .agents/skills/vitest/references/features-filtering.md
  .agents/skills/vitest/references/features-mocking.md
  .agents/skills/vitest/references/features-snapshots.md
  .github/skills/playwright-dev/SKILL.md
  .github/skills/playwright-dev/api.md
  .github/skills/playwright-dev/mcp-dev.md
  .github/skills/playwright-dev/vendor.md
  .github/skills/typescript/SKILL.md
Owners: @ngx-vest-forms/maintainers

build(skills): add vitest and playwright skills
  .agent/skills/vitest
  .agents/skills/vitest/SKILL.md
  .github/instructions/angular.instructions.md
  .github/instructions/commit.instructions.md
  .github/instructions/context7.instructions.md
  .github/instructions/playwright.instructions.md
  .github/instructions/vitest.instructions.md
  .github/skills/playwright-dev/SKILL.md
  .github/skills/playwright-dev/api.md
  .github/skills/playwright-dev/mcp-dev.md
  .github/skills/playwright-dev/vendor.md
  .github/skills/playwright/SKILL.md
  .github/skills/vitest/GENERATION.md
  .github/skills/vitest/SKILL.md
  .github/skills/vitest/references/advanced-environments.md
  .github/skills/vitest/references/advanced-projects.md
  .github/skills/vitest/references/advanced-type-testing.md
  .github/skills/vitest/references/advanced-vi.md
  .github/skills/vitest/references/core-cli.md
  .github/skills/vitest/references/core-config.md
  .github/skills/vitest/references/core-describe.md
  .github/skills/vitest/references/core-expect.md
  .github/skills/vitest/references/core-hooks.md
  .github/skills/vitest/references/core-test-api.md
  .github/skills/vitest/references/features-concurrency.md
  .github/skills/vitest/references/features-context.md
  .github/skills/vitest/references/features-coverage.md
  .github/skills/vitest/references/features-filtering.md
  .github/skills/vitest/references/features-mocking.md
  .github/skills/vitest/references/features-snapshots.md
Owners: @ngx-vest-forms/maintainers

refactor(utils): improve type-safety and test coverage
  projects/ngx-vest-forms/src/lib/utils/README.md
  projects/ngx-vest-forms/src/lib/utils/array-to-object.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
  projects/ngx-vest-forms/src/lib/utils/validation-config-builder.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.spec.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
  tsconfig.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor(directives): extract shared async validator bridge for model directives
  .github/prompts/plan-ngx-vest-forms-refactor.prompt.md
  .vscode/settings.json
  projects/ngx-vest-forms/src/lib/directives/async-validator-bridge.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor(a11y): share ARIA association logic and align warning visibility
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-control.directive.ts
  projects/ngx-vest-forms/src/lib/utils/aria-association.utils.ts
Owners: @ngx-vest-forms/core-team

fix(security): block unsafe path segments and add validation-config timeout diagnostics
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-control.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
Owners: @ngx-vest-forms/core-team

docs(api): mark retained deprecated exports and secure path usage guidance
  docs/FIELD-PATHS.md
  docs/migration/MIGRATION-v1.x-to-v2.0.0.md
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(validations): ensure business hours validation handles missing entries
  projects/examples/src/app/pages/business-hours-form/business-hours.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

build(copilot): add angular skills
  .github/skills/angular-component/SKILL.md
  .github/skills/angular-component/references/component-patterns.md
  .github/skills/angular-di/SKILL.md
  .github/skills/angular-di/references/di-patterns.md
  .github/skills/angular-directives/SKILL.md
  .github/skills/angular-directives/references/directive-patterns.md
  .github/skills/angular-forms/SKILL.md
  .github/skills/angular-forms/references/form-patterns.md
  .github/skills/angular-http/SKILL.md
  .github/skills/angular-http/references/http-patterns.md
  .github/skills/angular-routing/SKILL.md
  .github/skills/angular-routing/references/routing-patterns.md
  .github/skills/angular-signals/SKILL.md
  .github/skills/angular-signals/references/signal-patterns.md
  .github/skills/angular-testing/SKILL.md
  .github/skills/angular-testing/references/testing-patterns.md
  .github/skills/angular-tooling/SKILL.md
  .github/skills/angular-tooling/references/tooling-patterns.md
Owners: @ngx-vest-forms/maintainers

chore(ngx-vest-forms): improve JSDoc and utility safety docs
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/async-validator-bridge.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/aria-association.utils.ts
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
Owners: @ngx-vest-forms/core-team
