Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors

test(validation): improve user-visible error feedback for confirm password and email validation
  e2e/pages/purchase-form/purchase.form.tests.ts
  e2e/pages/validation-config-demo/validation-config-demo.form.tests.ts
  e2e/pages/wizard-form/wizard.form.tests.ts
Owners: @ngx-vest-forms/maintainers

docs: update README and API-TOKENS for compatibility notes and error display modes
  README.md
  docs/API-TOKENS.md
Owners: @ngx-vest-forms/maintainers

fix(form-control-state): reset validation state on form reset
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/display-modes-demo/display-modes-demo.form.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

build(vscode): remove peacock color
  .vscode/settings.json
Owners: @ngx-vest-forms/maintainers

chore: remove outdated refactor plan document
  .github/prompts/plan-ngx-vest-forms-refactor.prompt.md
Owners: @ngx-vest-forms/maintainers

refactor(utils): tighten typings and add aria association tests
  projects/ngx-vest-forms/src/lib/utils/aria-association.utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/aria-association.utils.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
  projects/ngx-vest-forms/src/lib/utils/validation-config-builder.ts
Owners: @ngx-vest-forms/core-team

chore(lint): apply eslint fixes across examples and directives
  projects/examples/src/app/pages/business-hours-form/ui/business-hour/business-hour.component.ts
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.ts
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.page.ts
  projects/examples/src/app/pages/wizard-form/wizard-form.page.ts
  projects/examples/src/app/ui/address/address.component.ts
  projects/examples/src/app/ui/alert-panel/alert-panel.component.ts
  projects/examples/src/app/ui/card/card.component.ts
  projects/examples/src/app/ui/form-page-layout/form-page-layout.component.ts
  projects/examples/src/app/ui/form-section/form-section.component.ts
  projects/examples/src/app/ui/form-state/form-state.component.ts
  projects/examples/src/app/ui/json-preview/json-preview.component.ts
  projects/examples/src/app/ui/page-title/page-title.component.ts
  projects/examples/src/app/ui/phonenumbers/phonenumbers.component.spec.ts
  projects/examples/src/app/ui/phonenumbers/phonenumbers.component.ts
  projects/examples/src/app/ui/status-badge/status-badge.component.ts
  projects/examples/src/app/ui/wizard/wizard-navigation.component.ts
  projects/examples/src/app/ui/wizard/wizard-steps.component.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-control.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

fix(validation-config): prevent premature dependent error display; update examples and e2e coverage
  e2e/pages/wizard-form/wizard.form.tests.ts
  playwright.config.ts
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.form.html
  projects/examples/src/app/pages/wizard-form/wizard-form.page.html
  projects/examples/src/app/pages/wizard-form/wizard-form.page.ts
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.ts
  projects/examples/src/app/pages/wizard-form/wizard.form.html
  projects/examples/src/app/pages/wizard-form/wizard.form.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(examples): align form-state pristine/pending wiring and stabilize e2e
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/business-hours-form/business-hours.page.spec.ts
  e2e/pages/display-modes-demo/display-modes-demo.page.spec.ts
  e2e/pages/purchase-form/purchase.page.spec.ts
  e2e/pages/validation-config-demo/password-warnings.form.tests.ts
  e2e/pages/validation-config-demo/validation-config-demo.page.spec.ts
  e2e/pages/wizard-form/wizard-form.page.spec.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.form.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.page.html
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.form.ts
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.page.html
  projects/examples/src/app/pages/purchase-form/purchase.form.ts
  projects/examples/src/app/pages/purchase-form/purchase.page.html
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.form.ts
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.page.html
  projects/examples/src/app/pages/wizard-form/wizard-form.page.html
  projects/examples/src/app/pages/wizard-form/wizard-form.page.ts
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.ts
  projects/examples/src/app/pages/wizard-form/wizard.form.ts
  projects/examples/src/app/ui/form-state/form-state.component.ts
  projects/examples/src/app/ui/status-badge/status-badge.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(examples): rename wizard submit output to stepSubmit
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.ts
  projects/examples/src/app/pages/wizard-form/wizard.form.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(e2e): resolve remaining review nits
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
Owners: @ngx-vest-forms/maintainers

ci(releaserc): update prerelease settings for beta, alpha, and copilot branches
  .releaserc
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  519df8073a17bd5b2e23d1207a9a1925ad7a1ee8
Owners: @ngx-vest-forms/maintainers

refactor(ngx-vest-forms): migrate wrappers to CSS custom properties
  .github/agents/🎭 healer.agent.md
  README.md
  docs/CUSTOM-CONTROL-WRAPPERS.md
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.form.html
  projects/examples/src/app/pages/business-hours-form/business-hours.form.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.page.html
  projects/examples/src/app/pages/business-hours-form/business-hours.validations.ts
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.html
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.scss
  projects/examples/src/app/ui/form-state/form-state.component.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/README.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.scss
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.scss
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore(test): add proper vitest imports
  projects/ngx-vest-forms/src/public-api-aria.spec.ts
Owners: @ngx-vest-forms/core-team

fix: address all CodeRabbit review comments
  README.md
  docs/CUSTOM-CONTROL-WRAPPERS.md
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.form.html
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.html
  projects/examples/src/app/ui/form-state/form-state.component.ts
  projects/ngx-vest-forms/src/lib/components/form-group-wrapper/form-group-wrapper.component.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

feat(lib): upgrade to Vest 6 - core implementation and types
  projects/ngx-vest-forms/package.json
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/exports.ts
  projects/ngx-vest-forms/src/lib/utils/README.md
  projects/ngx-vest-forms/src/lib/utils/field-path-types.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

test(lib): update all specs for Vest 6 suite callback pattern
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-reset.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.aot.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation.spec.ts
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

feat(examples): migrate validation suites to Vest 6
  projects/examples/src/app/pages/business-hours-form/business-hours.validations.ts
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.validations.ts
  projects/examples/src/app/pages/purchase-form/purchase.validations.spec.ts
  projects/examples/src/app/pages/purchase-form/purchase.validations.ts
  projects/examples/src/app/pages/validation-config-demo/validation-demo.validations.ts
  projects/examples/src/app/pages/wizard-form/wizard.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(examples): add Zod schema demo showcasing Standard Schema V1 integration
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/models/zod-schema-demo.model.ts
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.html
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.ts
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.page.html
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.page.scss
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.page.ts
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.validations.ts
  projects/examples/src/main.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(e2e,docs): add Zod schema E2E tests and v2.x→v3.0.0 migration guide
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  e2e/pages/zod-schema-demo/zod-schema-demo.form.spec.ts
  e2e/pages/zod-schema-demo/zod-schema-demo.form.tests.ts
  e2e/pages/zod-schema-demo/zod-schema-demo.page.spec.ts
  tests/integration/validate-root-form.integration.spec.ts
Owners: @ngx-vest-forms/maintainers

chore: update dependencies and build config for Vest 6
  package.json
  vitest.config.ts
Owners: @ngx-vest-forms/maintainers

docs(all): update documentation for Vest 6 patterns
  .github/copilot-instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  .github/instructions/vest.instructions.md
  .github/skills/angular-forms/SKILL.md
  .github/skills/angular-forms/references/form-patterns.md
  README.md
  docs/CHILD-COMPONENTS.md
  docs/COMPLETE-EXAMPLE.md
  docs/COMPOSABLE-VALIDATIONS.md
  docs/FIELD-CLEARING-UTILITIES.md
  docs/FIELD-PATHS.md
  docs/SELECTOR-PREFIX-MIGRATION.md
  docs/STRUCTURE_CHANGE_DETECTION.md
  docs/TYPE-COMPATIBILITY.md
  docs/VALIDATION-CONFIG-BUILDER.md
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
  package-lock.json
Owners: @ngx-vest-forms/maintainers

docs: clarify Vest 6 patterns across documentation
  .github/copilot-instructions.md
  README.md
  docs/ACCESSIBILITY.md
  docs/CHILD-COMPONENTS.md
  docs/COMPLETE-EXAMPLE.md
  docs/COMPOSABLE-VALIDATIONS.md
  docs/FIELD-PATHS.md
  docs/TYPE-COMPATIBILITY.md
  docs/VALIDATION-CONFIG-BUILDER.md
  docs/migration/MIGRATION-v1.x-to-v2.0.0.md
Owners: @ngx-vest-forms/maintainers

feat(ngx-vest-forms): add debounce presets and resilient async runs
  .github/instructions/ngx-vest-forms.instructions.md
  docs/API-TOKENS.md
  docs/CHILD-COMPONENTS.md
  docs/DUAL-SELECTOR-SUPPORT.md
  docs/VALIDATION-CONFIG-BUILDER.md
  docs/migration/MIGRATION-v1.x-to-v2.0.0.md
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/ngx-vest-forms/.storybook/styles.scss
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validation-options.ts
  projects/ngx-vest-forms/src/lib/tokens/debounce.token.spec.ts
  projects/ngx-vest-forms/src/lib/tokens/debounce.token.ts
  projects/ngx-vest-forms/src/lib/tokens/validation-debounce-presets.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat(examples): inline mock people api and expand purchase demos
  .github/copilot-instructions.md
  e2e/pages/purchase-form/get-all-form-errors.form.tests.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
  e2e/pages/purchase-form/purchase.page.spec.ts
  e2e/pages/validation-config-demo/validation-config-demo.form.tests.ts
  e2e/pages/zod-schema-demo/zod-schema-demo.form.tests.ts
  package.json
  playwright.config.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.validations.ts
  projects/examples/src/app/pages/purchase-form/purchase.form.html
  projects/examples/src/app/pages/purchase-form/purchase.form.ts
  projects/examples/src/app/pages/purchase-form/purchase.page.html
  projects/examples/src/app/pages/purchase-form/purchase.page.ts
  projects/examples/src/app/pages/purchase-form/swapi.service.ts
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.ts
  projects/examples/src/app/services/mock-people-api.interceptor.ts
  projects/examples/src/backend/db.json
  projects/examples/src/main.ts
  projects/examples/src/styles.scss
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(forms): improve accessibility and suite guidance
  README.md
  docs/ACCESSIBILITY.md
  docs/API-TOKENS.md
  docs/CHILD-COMPONENTS.md
  docs/COMPLETE-EXAMPLE.md
  docs/DUAL-SELECTOR-SUPPORT.md
  docs/FIELD-PATHS.md
  docs/SELECTOR-PREFIX-MIGRATION.md
  docs/TYPE-COMPATIBILITY.md
  projects/examples/src/app/pages/business-hours-form/ui/business-hour/business-hour.component.html
  projects/examples/src/app/pages/business-hours-form/ui/business-hours/business-hours.component.html
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.form.ts
  projects/examples/src/app/pages/purchase-form/purchase.form.html
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.form.html
  projects/examples/src/app/pages/validation-config-demo/validation-demo.validations.ts
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.html
  projects/examples/src/app/ui/address/address.component.html
  projects/examples/src/app/ui/phonenumbers/phonenumbers.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/README.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/async-validator-bridge.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/README.md
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

test(e2e): stabilize playwright form specs
  e2e/helpers/form-helpers.ts
  e2e/pages/business-hours-form/business-hours.form.tests.ts
  e2e/pages/purchase-form/purchase.form.tests.ts
  e2e/pages/validation-config-demo/validation-config-demo.form.tests.ts
Owners: @ngx-vest-forms/maintainers

chore: potential fix for pull request finding 'Useless conditional'
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

refactor: update viewChild usage and clean up imports in form directive tests
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/core-team

fix(ngx-vest-forms): refresh form state validation feedback
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/core-team

refactor(examples): simplify form state usage and wizard tests
  e2e/helpers/wizard-helpers.ts
  e2e/pages/wizard-form/wizard.form.tests.ts
  projects/examples/src/app/app.component.html
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/pages/business-hours-form/business-hours.form.html
  projects/examples/src/app/pages/business-hours-form/business-hours.form.ts
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.form.html
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.form.ts
  projects/examples/src/app/pages/purchase-form/purchase.form.ts
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.form.html
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.form.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(form): harden first-invalid selectors and submit gating
  projects/examples/src/app/pages/purchase-form/purchase.form.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/utils/first-invalid.utils.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

Notes added by 'git notes add'
  e027c78730fa24a86c0030267fd728a807eb3b3b
Owners: @ngx-vest-forms/maintainers

refactor(tests): consolidate imports in form directive spec
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
Owners: @ngx-vest-forms/core-team

fix(forms): stabilize wizard submit validation flow
  .github/skills/typescript/SKILL.md
  projects/examples/src/app/pages/wizard-form/wizard-form.page.ts
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.ts
  projects/examples/src/app/pages/wizard-form/wizard.form.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

feat(library): introduce form feedback signal utilities and reactive status properties
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/COMPLETE-EXAMPLE.md
  docs/migration/MIGRATION-v1.x-to-v2.0.0.md
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/README.md
  projects/ngx-vest-forms/src/lib/utils/form-state.utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-state.utils.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor(examples): adopt form feedback signals and layout aliases
  projects/examples/src/app/pages/business-hours-form/business-hours.form.ts
  projects/examples/src/app/pages/display-modes-demo/display-modes-demo.form.ts
  projects/examples/src/app/pages/purchase-form/purchase.form.ts
  projects/examples/src/app/pages/validation-config-demo/validation-config-demo.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.ts
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.ts
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.html
  projects/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.ts
  projects/examples/src/app/utils/form-warnings.util.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(examples): improve wizard accessibility and e2e test cases
  e2e/pages/wizard-form/wizard.form.tests.ts
  projects/examples/src/app/pages/wizard-form/wizard-form.page.ts
  projects/examples/src/app/pages/wizard-form/wizard-step1.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step2.form.html
  projects/examples/src/app/pages/wizard-form/wizard-step3.form.html
  projects/examples/src/app/ui/wizard/wizard-navigation.component.ts
  projects/examples/src/app/ui/wizard/wizard-steps.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs(migration): add LLM migration prompt and guidelines for ngx-vest-forms v3.0.0
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
Owners: @ngx-vest-forms/maintainers
