Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

build(copilot): streamline ngx-vest-forms instructions for clarity and conciseness
  .github/instructions/ngx-vest-forms.instructions.md
Owners: @ngx-vest-forms/maintainers

fix(deps): update dependency versions to use tilde for consistency
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

fix(deps): update Storybook dependencies to version 9.1.9 for consistency
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

build(copilot): enhance ngx-vest-forms instructions
  .github/instructions/ngx-vest-forms.instructions.md
Owners: @ngx-vest-forms/maintainers

docs: restructure README and modernize examples with Angular 18+ best practices
  README.md
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  57af360104246c1f75e8fb7a5fa79cd1e416ca23
Owners: @ngx-vest-forms/maintainers

feat(examples): expose form-arrays and nested-forms with enhanced input types and UI improvements
  projects/examples/src/app/01-fundamentals/example-form-array/example-form-array.content.ts
  projects/examples/src/app/01-fundamentals/example-form-array/example-form-array.html
  projects/examples/src/app/01-fundamentals/example-form-array/example-form-array.page.ts
  projects/examples/src/app/01-fundamentals/example-form-array/example-form-array.ts
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.content.ts
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.html
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.model.ts
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.page.ts
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.ts
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.validations.ts
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/app.routes.ts
  projects/examples/src/app/ui/debugger/debugger.css
  projects/examples/src/app/ui/debugger/debugger.html
  tests/form-arrays.spec.ts
  tests/nested-forms.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(validations): enhance validation logic and error handling for nested forms
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.validations.ts
  projects/examples/src/app/ui/debugger/debugger.ts
  projects/ngx-vest-forms/core/src/lib/create-vest-form.ts
  projects/ngx-vest-forms/core/src/lib/utils/safe-suite.ts
  projects/ngx-vest-forms/core/src/lib/vest-form.types.ts
  tests/nested-forms.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs(readme): update readme to v2
  README.md
Owners: @ngx-vest-forms/maintainers

docs: fix code block formatting for utility functions
  README.md
Owners: @ngx-vest-forms/maintainers

fix(core): update array() return type to EnhancedVestFormArray
  projects/examples/src/app/01-fundamentals/example-form-array/example-form-array.html
  projects/examples/src/app/01-fundamentals/example-form-array/example-form-array.ts
  projects/examples/src/app/01-fundamentals/example-form-array/example-form-array.validation.ts
  projects/ngx-vest-forms/core/src/lib/create-vest-form.ts
  projects/ngx-vest-forms/core/src/lib/form-arrays.spec.ts
  projects/ngx-vest-forms/core/src/lib/form-arrays.ts
  projects/ngx-vest-forms/core/src/lib/utils/path-utils.ts
  projects/ngx-vest-forms/core/src/lib/vest-form.types.ts
  tests/comprehensive-e2e.spec.ts
  tests/conditional-rendering-race-condition.spec.ts
  tests/content-accessibility.spec.ts
  tests/control-wrapper-intro.spec.ts
  tests/debug-buttons.spec.ts
  tests/dynamic-arrays.spec.ts
  tests/error-display-modes.spec.ts
  tests/form-arrays.spec.ts
  tests/form-state-demo.spec.ts
  tests/mini-vest-simple.spec.ts
  tests/multi-step-form.spec.ts
  tests/navigation.spec.ts
  tests/performance.spec.ts
  tests/phone-numbers-form.spec.ts
  tests/race-condition-fix.spec.ts
  tests/schema-comparison.spec.ts
  tests/smoke-routes.spec.ts
  tests/visual-regression.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(core): show errors for untouched fields after submit
  .github/copilot-instructions.md
  README.md
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.form.ts
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.ts
  projects/ngx-vest-forms/core/README.md
  projects/ngx-vest-forms/core/src/lib/disabled-submit-button.spec.ts
  projects/ngx-vest-forms/core/src/lib/error-strategies.spec.ts
  projects/ngx-vest-forms/core/src/lib/error-strategies.ts
  projects/ngx-vest-forms/core/src/lib/utils/path-utils.spec.ts
  projects/ngx-vest-forms/core/src/lib/utils/value-extraction.spec.ts
  projects/ngx-vest-forms/core/src/lib/utils/value-extraction.ts
  tests/content-accessibility.spec.ts
  tests/minimal-form.spec.ts
  tests/nested-forms.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(core): implement WCAG 2.2 compliant touch state architecture and reactive error strategies
  .github/copilot-instructions.md
  .github/instructions/a11y.instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  projects/examples/src/app/01-fundamentals/basic-validation/README.md
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.form.ts
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.page.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.form.ts
  projects/examples/src/app/01-fundamentals/example-form-array/example-form-array.html
  projects/examples/src/app/01-fundamentals/example-form-nested/example-form-nested.html
  projects/examples/src/app/01-fundamentals/minimal-form/README.md
  projects/examples/src/app/01-fundamentals/minimal-form/minimal-form.page.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal.form.ts
  projects/ngx-vest-forms/core/src/lib/async-validation-race-condition.spec.ts
  projects/ngx-vest-forms/core/src/lib/create-vest-form.spec.ts
  projects/ngx-vest-forms/core/src/lib/create-vest-form.ts
  projects/ngx-vest-forms/core/src/lib/error-strategies.spec.ts
  projects/ngx-vest-forms/core/src/lib/error-strategies.ts
  projects/ngx-vest-forms/core/src/lib/vest-form.types.ts
  projects/ngx-vest-forms/test-setup.ts
  projects/ngx-vest-forms/test-utilities.ts
  projects/ngx-vest-forms/vite.config.mts
  tests/basic-validation.spec.ts
  tests/error-display-modes.spec.ts
  tests/error-strategies.spec.ts
  tests/minimal-form.spec.ts
  tests/nested-forms.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(core): add NgxFormErrorComponent with zero-config API
  .github/instructions/vitest-test.instructions.md
  README.md
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.form.ts
  projects/ngx-vest-forms/core/src/lib/components/ngx-form-error.component.spec.ts
  projects/ngx-vest-forms/core/src/lib/components/ngx-form-error.component.ts
  projects/ngx-vest-forms/core/src/lib/create-vest-form.ts
  projects/ngx-vest-forms/core/src/lib/utils/derived-field-registry.ts
  projects/ngx-vest-forms/core/src/lib/utils/derived-field.types.ts
  projects/ngx-vest-forms/core/src/lib/vest-form.types.ts
  projects/ngx-vest-forms/core/src/public-api.ts
  tests/basic-validation.spec.ts
  tests/error-strategies.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

build(copilot): add accessibility and Angular development instructions
  .github/instructions/a11y.instructions.md
  .github/instructions/angular.instructions.md
  .github/instructions/commit.instructions.md
Owners: @ngx-vest-forms/maintainers

refactor(core): improve code quality and documentation
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

chore: update Angular and related dependencies to latest patch versions
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

build(deps): update package-lock
  package-lock.json
Owners: @ngx-vest-forms/maintainers

build(deps): update storybook
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

ci: rebuild @swc/core native bindings in CI environment
  .github/workflows/ci.yml
Owners: @ngx-vest-forms/maintainers

refactor: use effect cleanup for validationConfig subscriptions
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

fix: resolve SWC native binding issues in CI
  .github/workflows/ci.yml
  package.json
Owners: @ngx-vest-forms/maintainers

build: update package-lock
  package-lock.json
Owners: @ngx-vest-forms/maintainers

feat(core): add auto-touch directive and global config
  docs/inverted-vest/ngx-auto-touch-directive-prd.md
  projects/ngx-vest-forms/core/src/lib/create-vest-form.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-auto-touch.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-auto-touch.directive.ts
  projects/ngx-vest-forms/core/src/lib/providers.ts
  projects/ngx-vest-forms/core/src/lib/tokens.ts
  projects/ngx-vest-forms/core/src/lib/utils/type-helpers.spec.ts
  projects/ngx-vest-forms/core/src/lib/utils/type-helpers.ts
  projects/ngx-vest-forms/core/src/lib/vest-form.types.ts
  projects/ngx-vest-forms/core/src/public-api.ts
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  7c52a6fa5d5ae35c42956a9ec74bb25c78a6c6ca
Owners: @ngx-vest-forms/maintainers

chore(core): import Signal type for enhanced type safety in createVestForm
  projects/ngx-vest-forms/core/src/lib/create-vest-form.ts
Owners: @ngx-vest-forms/maintainers

feat(core): add NgxVestAutoAriaDirective for automatic ARIA attributes
  README.md
  docs/ngx-auto-aria-prd.md
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.form.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal.form.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-auto-aria.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-auto-aria.directive.ts
  projects/ngx-vest-forms/core/src/lib/tokens.ts
  projects/ngx-vest-forms/core/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(core): add NgxVestFormBusyDirective for automatic form aria-busy
  projects/examples/src/app/01-fundamentals/basic-validation/basic-validation.form.ts
  projects/examples/src/app/01-fundamentals/error-display-modes/error-display-modes.form.ts
  projects/examples/src/app/01-fundamentals/minimal-form/minimal.form.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-form-busy.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-form-busy.directive.ts
  projects/ngx-vest-forms/core/src/lib/tokens.ts
  projects/ngx-vest-forms/core/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs(readme): document NgxVestFormBusyDirective feature
  README.md
Owners: @ngx-vest-forms/maintainers

refactor(core): rename opt-out attributes to include Auto prefix
  README.md
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-auto-aria.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-auto-aria.directive.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-auto-touch.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-auto-touch.directive.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-form-busy.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/ngx-vest-form-busy.directive.ts
  projects/ngx-vest-forms/core/src/lib/tokens.ts
  projects/ngx-vest-forms/core/src/public-api.ts
Owners: @ngx-vest-forms/maintainers

docs(readme): enhance styling documentation for NgxFormErrorComponent and NgxVestFormField
  README.md
  projects/ngx-vest-forms/core/README.md
  projects/ngx-vest-forms/form-field/README.md
Owners: @ngx-vest-forms/maintainers

docs(architecture): why vest vs ngform
  README.md
  docs/ARCHITECTURE_ANALYSIS_SUMMARY.md
  docs/ARCHITECTURE_COMPARISON.md
  docs/inverted-vest/ngform-sync-decision-guide.md
Owners: @ngx-vest-forms/maintainers

docs(strategic): add Angular Signal Forms analysis and Standard Schema strategy
  README.md
  docs/API_COMPARISON_SIGNAL_FORMS.md
  docs/INTEGRATION_FEASIBILITY_ANALYSIS.md
  docs/NGX_VEST_FORMS_STRATEGIC_OVERVIEW.md
  docs/SIGNAL_FORMS_STANDARD_SCHEMA_COMPATIBILITY.md
  docs/STANDARD_SCHEMA_ADAPTERS_GUIDE.md
Owners: @ngx-vest-forms/maintainers

refactor(tests): streamline omitWhen validation tests and enhance structure
  PRD-composable-error-display.md
  package-lock.json
  password-validation-test.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/omit-when-validation-config.spec.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  projects/ngx-vest-forms/src/test-setup.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat(formDirective): improve validation config
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

build(copilot): add and improve instructions
  .github/instructions/angular.instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  .github/instructions/tailwind.instructions.md
  .github/instructions/vest.instructions.md
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat(utils): add NgxFormCompatibleDeepRequired
  projects/ngx-vest-forms/src/lib/utils/deep-required.ts
Owners: @ngx-vest-forms/core-team

feat(core): apply v2 improvements for validationConfig and async validators
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/omit-when-validation-config.spec.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/core-team

feat(utils): add comprehensive utility types and array conversion functions
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  projects/ngx-vest-forms/src/lib/utils/README.md
  projects/ngx-vest-forms/src/lib/utils/array-to-object.spec.ts
  projects/ngx-vest-forms/src/lib/utils/array-to-object.ts
  projects/ngx-vest-forms/src/lib/utils/deep-partial.spec.ts
  projects/ngx-vest-forms/src/lib/utils/deep-partial.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
  projects/ngx-vest-forms/src/public-api.ts
  projects/ngx-vest-forms/src/setup-jest.ts
  projects/ngx-vest-forms/src/test-setup.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor: replace internal cloneDeep usage with structuredClone
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
Owners: @ngx-vest-forms/core-team

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors
