Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors

feat(validation-config): add demo component and refactor form directive
  projects/examples/src/app/app.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.scss
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.ts
  projects/examples/src/app/models/validation-demo.model.ts
  projects/examples/src/app/validations/validation-demo.validations.ts
  projects/examples/src/index.html
  projects/examples/src/main.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore(examples): implement theme switcher component and update navigation
  projects/examples/src/app/app.component.html
  projects/examples/src/app/app.component.ts
  projects/examples/src/app/components/ui/theme-switcher/theme-switcher.component.html
  projects/examples/src/app/components/ui/theme-switcher/theme-switcher.component.scss
  projects/examples/src/app/components/ui/theme-switcher/theme-switcher.component.ts
  projects/examples/src/index.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(validation-config): streamline bidirectional validation tests and improve clarity
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

test: remove failing validationConfig Storybook tests
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
Owners: @ngx-vest-forms/core-team

Notes added by 'git notes add'
  f6643c46012540602cc0c0686621cae1127a7382
Owners: @ngx-vest-forms/maintainers

feat(validation): add Playwright e2e setup and fix bidirectional validation
  .github/agents/ 🎭 planner.agent.md
  .github/agents/4.1-Beast.agent.md
  .github/agents/🎭 generator.agent.md
  .github/agents/🎭 healer.agent.md
  .github/instructions/playwright.instructions.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .gitignore
  angular.json
  e2e/README.md
  e2e/business-hours-form.spec.ts
  e2e/example.spec.ts
  e2e/helpers/form-helpers.ts
  e2e/purchase-form.spec.ts
  e2e/seed.spec.ts
  e2e/tsconfig.json
  e2e/validation-config-demo.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  projects/examples/src/app/validations/validation-demo.validations.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

build(copilot): playwright planner add missing tools to agent configuration
  .github/agents/ 🎭 planner.agent.md
Owners: @ngx-vest-forms/maintainers

test(examples): add comprehensive E2E tests for ValidationConfig and ROOT_FORM validation
  e2e/TEST_PLAN.md
  e2e/enhanced-validation-config.spec.ts
  e2e/get-all-form-errors.spec.ts
  e2e/root-form-live-mode.spec.ts
Owners: @ngx-vest-forms/maintainers

fix(ci): update E2E test command to use Playwright for better compatibility
  .github/workflows/ci.yml
Owners: @ngx-vest-forms/maintainers

feat(tests): add web server configuration to playwright for test execution
  playwright.config.ts
Owners: @ngx-vest-forms/maintainers

test(examples): add comprehensive test coverage for ROOT_FORM validation and enhance existing tests
  .github/agents/🎭 healer.agent.md
  e2e/business-hours-form.spec.ts
  e2e/get-all-form-errors.spec.ts
  e2e/purchase-form.spec.ts
Owners: @ngx-vest-forms/maintainers

ci(workflows): use Playwright for e2e in cd/prerelease
  .github/workflows/cd.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

docs: update PRD to reflect completed follow-up work and enhancements
  docs/PRD-NON-BREAKING-IMPROVEMENTS.md
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  af68adcacba19180ef72c027ce299eae7e7a57ae
Owners: @ngx-vest-forms/maintainers

fix(error-display): prevent errors showing on initial page load
  e2e/validation-config-demo.spec.ts
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

feat(validation): enhance validation logic to track touched and dirty states for form controls
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
Owners: @ngx-vest-forms/core-team

test(accessibility): enhance accessibility verification for validation errors and structures
  e2e/validation-config-demo.spec.ts
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  e95b258092367269f4c60acdbe2d23f245a26f8a
Owners: @ngx-vest-forms/maintainers

feat: add accessibility guide and implement polite ARIA announcements
  README.md
  docs/ACCESSIBILITY.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

style: use standard double-slash comments
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

refactor: remove console output and alerts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor: standardize form submission method names to 'save()' across the project
  .github/instructions/angular.instructions.md
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/COMPLETE-EXAMPLE.md
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.ts
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor: rename Phonenumbers to PhoneNumbers for consistency and clarity
  e2e/validation-config-demo.spec.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.html
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.ts
  projects/examples/src/app/models/phonenumber.model.ts
  projects/examples/src/app/models/purchase-form.model.ts
  projects/examples/src/app/validations/phonenumber.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs: update roadmap
  .github/instructions/tailwind.instructions.md
  docs/RELEASE-NOTES-GUIDELINES.md
  docs/dev/PR-60-CHANGES.md
  docs/dev/README.md
  docs/dev/ROADMAP.md
  docs/dev/archive/PRD-NON-BREAKING-IMPROVEMENTS-2025-11.md
  docs/dev/archive/README.md
Owners: @ngx-vest-forms/maintainers

docs: update roadmap with PR #60 review items and v1.5.0 code quality improvements
  docs/dev/ROADMAP.md
Owners: @ngx-vest-forms/maintainers

fix(utils): remove redundant condition for Date properties in NgxFormCompatibleDeepRequired
  projects/ngx-vest-forms/src/lib/utils/deep-required.ts
Owners: @ngx-vest-forms/core-team

chore(utils): add deprecation
  projects/ngx-vest-forms/src/lib/utils/deep-required.ts
Owners: @ngx-vest-forms/core-team

fix(utils): correct formatting in NgxFormCompatibleDeepRequired type definition
  projects/ngx-vest-forms/src/lib/utils/deep-required.ts
Owners: @ngx-vest-forms/core-team

chore: update Angular and related dependencies to latest patch versions
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

feat: add dual selector support (sc- and ngx- prefixes)
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/dev/DUAL-SELECTOR-SUPPORT.md
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/ui/address/address.component.html
  projects/examples/src/app/components/ui/business-hour/business-hour.component.html
  projects/examples/src/app/components/ui/business-hours/business-hours.component.html
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.html
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/error-display-mode.token.ts
  projects/ngx-vest-forms/src/lib/directives/form-control-state.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-reset.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation.spec.ts
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore: update roadmap and PRD for v2.0.0 release with dual selector support
  docs/dev/ROADMAP.md
  docs/dev/archive/PRD-NON-BREAKING-IMPROVEMENTS-2025-11.md
Owners: @ngx-vest-forms/maintainers

feat(breaking): remove deprecated VALIDATION_CONFIG_DEBOUNCE_TIME constant
  .github/instructions/ngx-vest-forms.instructions.md
  docs/dev/ROADMAP.md
  docs/dev/archive/PRD-NON-BREAKING-IMPROVEMENTS-2025-11.md
  projects/ngx-vest-forms/src/lib/constants.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation.spec.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  projects/ngx-vest-forms/src/lib/tokens/debounce.token.spec.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: update optionalDependencies for @swc/core to version 1.15.1
  package.json
Owners: @ngx-vest-forms/maintainers

refactor(examples): remove unnecessary setTimeout for clearing form fields
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: update comment to clarify structure returned by NgxVestFormDirective
  projects/ngx-vest-forms/src/lib/utils/form-state.utils.ts
Owners: @ngx-vest-forms/core-team

feat(utils): enhance NgxDeepRequired and NgxFormCompatibleDeepRequired types
  projects/ngx-vest-forms/src/lib/utils/deep-required.spec.ts
  projects/ngx-vest-forms/src/lib/utils/deep-required.ts
Owners: @ngx-vest-forms/core-team

test(validationconfig): use proper ROOT_FORM token
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor(docs): update error display role attribute for accessibility
  docs/CUSTOM-CONTROL-WRAPPERS.md
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  projects/ngx-vest-forms/src/lib/utils/field-path-types.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

test(validate-root-form): add aot and consumer coverage
  jest.integration.config.ts
  package.json
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.aot.spec.ts
  tests/integration/validate-root-form.integration.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore(husky): drop deprecated shim
  .husky/commit-msg
Owners: @ngx-vest-forms/maintainers
