Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

docs: add computed validationConfig pattern for conditional fields
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/ui/address/address.component.html
  projects/examples/src/app/components/ui/address/address.component.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.html
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.ts
  projects/examples/src/app/models/address.model.ts
  projects/examples/src/app/models/business-hours-form.model.ts
  projects/examples/src/app/models/phonenumber.model.ts
  projects/examples/src/app/models/purchase-form.model.ts
  projects/examples/src/app/validations/business-hours.validations.ts
  projects/examples/src/app/validations/purchase.validations.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

docs(readme): simplify and improve the readme
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/CHILD-COMPONENTS.md
  docs/COMPLETE-EXAMPLE.md
  docs/COMPOSABLE-VALIDATIONS.md
  docs/CUSTOM-CONTROL-WRAPPERS.md
  docs/FIELD-CLEARING-UTILITIES.md
  docs/PR-60-CHANGES.md
Owners: @ngx-vest-forms/maintainers

refactor(validation): enforce unconditional usage of `only()` in validation suites for performance
  .github/copilot-instructions.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-model-group.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation.spec.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat(form-state): introduce NgxFormState and createEmptyFormState utility for managing form state
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/STRUCTURE_CHANGE_DETECTION.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/form-state.utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-state.utils.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: update Angular and related dependencies to latest patch versions
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore: update Node.js version to v24
  .node-version
Owners: @ngx-vest-forms/maintainers

feat(root_form): improve rootform functionality
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/MIGRATION.md
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: cleanup
  .github/instructions/angular.instructions.md
  docs/MIGRATION.md
  password-validation-test.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore(examples/phonenumbers): use new phoneumbers
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore(docs): add prd for non-breaking improvements
  docs/PRD-NON-BREAKING-IMPROVEMENTS.md
Owners: @ngx-vest-forms/maintainers

feat: add type-safe field path system with IDE autocomplete
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/COMPLETE-EXAMPLE.md
  docs/FIELD-PATHS.md
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.ts
  projects/examples/src/app/models/phonenumber.model.ts
  projects/examples/src/app/validations/business-hours.validations.ts
  projects/examples/src/app/validations/purchase.validations.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  projects/ngx-vest-forms/src/lib/utils/README.md
  projects/ngx-vest-forms/src/lib/utils/field-path-types.spec.ts
  projects/ngx-vest-forms/src/lib/utils/field-path-types.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
  projects/ngx-vest-forms/src/public-api.ts
  type-compatibility-test.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

docs: update README to link to TYPE-COMPATIBILITY.md
  README.md
  docs/TYPE-COMPATIBILITY.md
  type-compatibility-test.ts
Owners: @ngx-vest-forms/maintainers

feat: add configurable validation config debounce timing
  README.md
  projects/examples/src/main.ts
  projects/ngx-vest-forms/src/lib/constants.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/tokens/debounce.token.spec.ts
  projects/ngx-vest-forms/src/lib/tokens/debounce.token.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

docs: consolidate release documentation and remove CHANGELOG
  CHANGELOG.md
  README.md
  docs/PRD-NON-BREAKING-IMPROVEMENTS.md
  docs/RELEASE-NOTES-GUIDELINES.md
Owners: @ngx-vest-forms/maintainers

fix(validate-root-form): fix async validation and update to boolean attribute
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/MIGRATION.md
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/ngx-vest-forms/src/lib/directives/form-reset.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore(prd): update prd
  docs/PRD-NON-BREAKING-IMPROVEMENTS.md
Owners: @ngx-vest-forms/maintainers

test: enhance arrayToObject and deepArrayToObject tests for various edge cases
  projects/ngx-vest-forms/src/lib/utils/array-to-object.spec.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
Owners: @ngx-vest-forms/core-team

chore: complete PR #60 follow-up work
  docs/PRD-NON-BREAKING-IMPROVEMENTS.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.ts
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation.spec.ts
  projects/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

test(storybook): update shape property and triggerFormValidation
  projects/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.ts
Owners: @ngx-vest-forms/core-team

test: integrate examples project into Jest suite and add unit tests
  jest.config.ts
  package.json
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-state.utils.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

refactor: implement PR #60 review comments - performance and code quality improvements
  projects/examples/src/main.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/array-to-object.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

fix: update import path for vestForms in phonenumbers component test
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(test): resolve ngx-vest-forms import in examples tests
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
  projects/examples/tsconfig.spec.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

refactor: clean up README.md by removing unnecessary code snippets and improving readability
  README.md
Owners: @ngx-vest-forms/maintainers

ci: update Node.js version to 24 in CI, CD, and prerelease workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

fix: update test command in CI workflow to run library tests
  .github/workflows/ci.yml
Owners: @ngx-vest-forms/maintainers

fix(ci): update CI workflow to build library and adjust test commands
  .github/workflows/ci.yml
Owners: @ngx-vest-forms/maintainers

docs: simplify validation suite types in public API
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/COMPLETE-EXAMPLE.md
  docs/TYPE-COMPATIBILITY.md
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

Notes added by 'git notes add'
  b4d59641488756e89e7c711ba31da1a13f413ef1
Owners: @ngx-vest-forms/maintainers

feat(performance): optimize formState computed signal with memoization
  .github/instructions/ngx-vest-forms.instructions.md
  docs/PRD-NON-BREAKING-IMPROVEMENTS.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat: add comprehensive ARIA enhancements for WCAG 2.2 AA compliance
  .github/instructions/ngx-vest-forms.instructions.md
  docs/PRD-NON-BREAKING-IMPROVEMENTS.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

test: enhance ARIA tests with comprehensive Testing Library assertions
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
Owners: @ngx-vest-forms/core-team

fix: clean up whitespace and formatting in ARIA-related components and tests
  .github/instructions/ngx-vest-forms.instructions.md
  docs/PRD-NON-BREAKING-IMPROVEMENTS.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat(validation-config): add fluent builder API with type safety and comprehensive documentation
  .github/instructions/ngx-vest-forms.instructions.md
  COMMIT_MSG.txt
  README.md
  docs/VALIDATION-CONFIG-BUILDER.md
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/ngx-vest-forms/src/lib/utils/validation-config-builder.spec.ts
  projects/ngx-vest-forms/src/lib/utils/validation-config-builder.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

Notes added by 'git notes add'
  0659dcc2f1787c9523ae1944b1a7bb4e43a8fffd
Owners: @ngx-vest-forms/maintainers

docs(utils): use modern angular for examples
  projects/ngx-vest-forms/src/lib/utils/README.md
Owners: @ngx-vest-forms/maintainers

fix: resolve race condition in validationConfig with conditionally rendered controls
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/core-team

Notes added by 'git notes add'
  fe399a998ac8236607bce4903cbfe1b572a1b64e
Owners: @ngx-vest-forms/maintainers

test(validation-config): enhance validation tests with control wrappers and error handling
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/core-team

docs: mark internal utilities with @internal JSDoc tags
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/FIELD-PATHS.md
  projects/examples/src/app/components/ui/business-hours/business-hours.component.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  projects/ngx-vest-forms/src/lib/utils/README.md
  projects/ngx-vest-forms/src/lib/utils/equality.ts
  projects/ngx-vest-forms/src/lib/utils/field-path.utils.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors
