Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors

fix: add explicit permissions to GitHub Actions workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

feat: add comprehensive prerelease workflow system with security improvements
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .releaserc
Owners: @ngx-vest-forms/maintainers

ci: update .releaserc
  .releaserc
Owners: @ngx-vest-forms/maintainers

chore: update semantic-release and semantic-release-cli to latest versions
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

ci: enhance prerelease workflow with manual trigger and branch input options
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

chore: update package-lock
  angular.json
  package-lock.json
Owners: @ngx-vest-forms/maintainers

fix: lock @compodoc/compodoc to 1.1.25 to resolve i18next.init error
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

chore: update package-lock
  package-lock.json
  projects/ngx-vest-forms/documentation.json
Owners: @ngx-vest-forms/maintainers

fix: resolve Storybook testing infrastructure issues
  package.json
Owners: @ngx-vest-forms/maintainers

test(e2e): fix form state expectations in playwright tests
  .vscode/settings.json
  form-state-bug.md
  package-lock.json
  package.json
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.manual-form.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.page.ts
  projects/examples/src/app/03-control-wrapper/control-wrapper-intro/control-wrapper-intro.wrapper-form.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.form.ts
  projects/examples/src/app/04-schema-integration/schema-comparison/schema-comparison.page.ts
  projects/examples/src/app/services/shiki-highlight.service.ts
  projects/examples/src/app/ui/code-highlight/code-highlight.directive.ts
  projects/examples/src/app/ui/code-highlight/index.ts
  projects/examples/src/app/ui/code-highlight/public-api.ts
  projects/examples/src/app/ui/code-highlight/shiki-highlight.directive.ts
  projects/examples/src/app/ui/code-highlight/shiki-highlight.service.ts
  projects/examples/src/app/ui/form-state-display/form-state-display.component.ts
  projects/examples/src/app/ui/index.ts
  projects/ngx-vest-forms/core/src/lib/directives/form-core.directive.spec.ts
  projects/ngx-vest-forms/core/src/lib/directives/form-core.directive.ts
  projects/ngx-vest-forms/core/src/lib/directives/form-model-group.directive.spec.ts.backup
  projects/ngx-vest-forms/core/src/lib/directives/form.directive.spec.ts.new
  projects/ngx-vest-forms/core/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/core/src/lib/utils/form-utils.ts
  projects/ngx-vest-forms/core/src/test/form-state-synchronization.spec.ts
  projects/ngx-vest-forms/core/src/test/form-state-value-synchronization.spec.ts
  projects/ngx-vest-forms/core/src/test/merge-values-structuredclone.spec.ts
  projects/ngx-vest-forms/schemas/src/lib/form-with-schema.directive.spec.ts
  projects/ngx-vest-forms/schemas/src/lib/form-with-schema.directive.ts
  tests/basic-validation.spec.ts
  tests/form-state-demo.spec.ts
  tests/minimal-form.spec.ts
  tests/schema-comparison.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: disable tests in simple-form-with-validation-config due to race condition issues
  package-lock.json
  projects/ngx-vest-forms/documentation.json
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: update .releaserc
  .releaserc
Owners: @ngx-vest-forms/maintainers

chore: update @compodoc/compodoc to version 1.1.28 and add i18next dependency
  package-lock.json
  package.json
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/ngx-vest-forms/documentation.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: update dependencies and fix template error handling
  package-lock.json
  package.json
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: ensure skipLibCheck is enabled
  tsconfig.json
Owners: @ngx-vest-forms/maintainers

fix: correct regex escaping in .releaserc for feat and fix branch patterns
  .releaserc
Owners: @ngx-vest-forms/maintainers

fix: use correct single backslash escaping in .releaserc regex patterns
  .releaserc
Owners: @ngx-vest-forms/maintainers

ci: update .github/workflows/prerelease.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

chore: update .releaserc
  .releaserc
Owners: @ngx-vest-forms/maintainers

ci: update prerelease workflow to include branch type options and validation steps
  .github/workflows/prerelease.yml
  .releaserc
Owners: @ngx-vest-forms/maintainers

fix: address all Copilot security and usability review comments
  .github/workflows/prerelease.yml
  .releaserc
  .vscode/settings.json
Owners: @ngx-vest-forms/maintainers

chore: update .releaserc
  .releaserc
Owners: @ngx-vest-forms/maintainers

ci: update .github/workflows/prerelease.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

ci: improve prerelease fallback pattern
  .releaserc
Owners: @ngx-vest-forms/maintainers

ci: update .github/workflows/prerelease.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

ci: update .releaserc
  .releaserc
Owners: @ngx-vest-forms/maintainers

chore: clean up VS Code settings
  .vscode/settings.json
Owners: @ngx-vest-forms/maintainers

fix: update GitHub Actions to latest versions to resolve cache service 400 error
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Owners: @ngx-vest-forms/maintainers

build(deps): update package-lock
  package-lock.json
Owners: @ngx-vest-forms/maintainers

feat: upgrade to Jest 30 with modern jest-preset-angular setup
  angular.json
  jest.config.ts
  package-lock.json
  package.json
  projects/examples/karma.conf.js
  projects/ngx-vest-forms/src/setup-jest.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

feat: modernize control-wrapper component with Angular signals
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/core-team

feat: upgrade Storybook from 8.6.14 to 9.1.5
  package-lock.json
  package.json
  projects/ngx-vest-forms/.storybook/main.ts
  projects/ngx-vest-forms/documentation.json
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore(deps): upgrade storybook 9
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  angular.json
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

fix: temporarily disable validation config tests and revert temporary fixes
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.scss
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
Owners: @ngx-vest-forms/core-team

Remove old release workflow
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

Deleting conflicting files
  .github/copilot-instructions.md
Owners: @ngx-vest-forms/maintainers

feat: modernize FormDirective with Angular 20+ patterns and fix validation config issues
  package-lock.json
  package.json
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix: update peer dependencies to support Angular 17+
  projects/ngx-vest-forms/package.json
Owners: @ngx-vest-forms/maintainers

chore(examples): remove redundant CommonModule
  projects/examples/src/app/components/ui/business-hour/business-hour.component.ts
  projects/examples/src/app/components/ui/business-hours/business-hours.component.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat: migrate to Storybook 9 official testing imports
  package-lock.json
  package.json
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.ts
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team
