Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors

fix(first-invalid): harden selectors and filter hidden candidates
  projects/ngx-vest-forms/src/lib/utils/first-invalid.utils.ts
Owners: @ngx-vest-forms/core-team

docs(copilot): drop stale Storybook reference from baseline prose
  .github/copilot-instructions.md
Owners: @ngx-vest-forms/maintainers

feat(form-utils)!: return discriminated union from getAllFormErrors
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(form-utils): address Copilot review on getAllFormErrors public surface
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

fix(public-api): move getAllFormErrors to public utilities section; document warnings-only delta
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

build(ai): add nx skills
  .gitignore
Owners: @ngx-vest-forms/maintainers

build(ai): add nx skills
  .claude/settings.json
  .github/agents/ci-monitor-subagent.agent.md
  .github/prompts/monitor-ci.prompt.md
  .github/skills/link-workspace-packages/SKILL.md
  .github/skills/monitor-ci/SKILL.md
  .github/skills/monitor-ci/references/fix-flows.md
  .github/skills/monitor-ci/scripts/ci-poll-decide.mjs
  .github/skills/monitor-ci/scripts/ci-state-update.mjs
  .github/skills/nx-generate/SKILL.md
  .github/skills/nx-import/SKILL.md
  .github/skills/nx-import/references/ESLINT.md
  .github/skills/nx-import/references/GRADLE.md
  .github/skills/nx-import/references/JEST.md
  .github/skills/nx-import/references/NEXT.md
  .github/skills/nx-import/references/TURBOREPO.md
  .github/skills/nx-import/references/VITE.md
  .github/skills/nx-plugins/SKILL.md
  .github/skills/nx-run-tasks/SKILL.md
  .github/skills/nx-workspace/SKILL.md
  .github/skills/nx-workspace/references/AFFECTED.md
  AGENTS.md
  CLAUDE.md
Owners: @ngx-vest-forms/maintainers

chore(prd): migrate to nx prd
  CONTEXT.md
  docs/prd/PRD-nx-migration-checklist.md
  docs/prd/PRD-nx-migration.md
Owners: @ngx-vest-forms/maintainers

feat(nx): initialize Nx 22 in Angular CLI workspace
  .gitignore
  .vscode/extensions.json
  angular.json
  nx.json
  package-lock.json
  package.json
  projects/examples/project.json
  projects/ngx-vest-forms/project.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

feat(nx): fix stale paths, set up inferred tasks, improve caching
  apps/examples-e2e/project.json
  apps/examples/project.json
  apps/examples/tsconfig.spec.json
  eslint.config.mjs
  nx.json
  packages/ngx-vest-forms/project.json
  tailwind.config.js
  tsconfig.spec.json
  vitest.config.ts
Owners: @ngx-vest-forms/maintainers

test(nx): fix TypeScript errors and JSDOM stubs for Nx 22 unit-test executor
  packages/ngx-vest-forms/src/lib/directives/form-reset.spec.ts
  packages/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  packages/ngx-vest-forms/src/lib/directives/form.directive.ts
  packages/ngx-vest-forms/src/lib/directives/state-sync-correctness.spec.ts
  packages/ngx-vest-forms/src/lib/directives/validate-root-form.directive.spec.ts
  packages/ngx-vest-forms/src/lib/directives/validate-root-form.integration.spec.ts
  packages/ngx-vest-forms/src/lib/directives/validation-config-error-display.spec.ts
  packages/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.spec.ts
  packages/ngx-vest-forms/src/lib/testing/simple-form-with-validation-config.stories.spec.ts
  packages/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.spec.ts
  packages/ngx-vest-forms/src/lib/testing/simple-form.demo.component.ts
  packages/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  packages/ngx-vest-forms/src/lib/utils/array-to-object.spec.ts
  packages/ngx-vest-forms/src/lib/utils/collect-touched-paths.spec.ts
  packages/ngx-vest-forms/src/lib/utils/deep-required.spec.ts
  packages/ngx-vest-forms/src/lib/utils/form-utils.spec.ts
  packages/ngx-vest-forms/src/lib/utils/shape-validation.spec.ts
  packages/ngx-vest-forms/src/lib/utils/validation-config-pipeline.spec.ts
  packages/ngx-vest-forms/src/lib/utils/vest-runner.spec.ts
  packages/ngx-vest-forms/src/test-setup.ts
Owners: @ngx-vest-forms/maintainers

chore(scripts): align npm scripts with Nx-based workspace
  package.json
Owners: @ngx-vest-forms/maintainers

ci: run e2e through nx instead of raw playwright CLI
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers

chore(tsconfig): remove stale empty line in examples tsconfig.spec.json
  apps/examples/tsconfig.spec.json
Owners: @ngx-vest-forms/maintainers

chore(skills): add .agents Nx workflow skills
  .agents/skills/link-workspace-packages/SKILL.md
  .agents/skills/monitor-ci/SKILL.md
  .agents/skills/monitor-ci/references/fix-flows.md
  .agents/skills/monitor-ci/scripts/ci-poll-decide.mjs
  .agents/skills/monitor-ci/scripts/ci-state-update.mjs
  .agents/skills/nx-generate/SKILL.md
  .agents/skills/nx-import/SKILL.md
  .agents/skills/nx-import/references/ESLINT.md
  .agents/skills/nx-import/references/GRADLE.md
  .agents/skills/nx-import/references/JEST.md
  .agents/skills/nx-import/references/NEXT.md
  .agents/skills/nx-import/references/TURBOREPO.md
  .agents/skills/nx-import/references/VITE.md
  .agents/skills/nx-plugins/SKILL.md
  .agents/skills/nx-run-tasks/SKILL.md
  .agents/skills/nx-workspace/SKILL.md
  .agents/skills/nx-workspace/references/AFFECTED.md
Owners: @ngx-vest-forms/maintainers

chore(repo): ignore codex and opencode metadata
  .gitignore
Owners: @ngx-vest-forms/maintainers

fix(lint): remove non-null assertions and fix empty stubs in test-setup
  packages/ngx-vest-forms/src/lib/directives/field-path-resolver.ts
  packages/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.spec.ts
  packages/ngx-vest-forms/src/lib/testing/validation-config.spec.ts
  packages/ngx-vest-forms/src/lib/utils/array-to-object.spec.ts
  packages/ngx-vest-forms/src/lib/utils/deep-required.spec.ts
  packages/ngx-vest-forms/src/test-setup.ts
Owners: @ngx-vest-forms/maintainers

refactor(types): rebuild NgxDeepPartial and NgxDeepRequired on ts-essentials patterns
  packages/ngx-vest-forms/src/lib/utils/deep-partial.ts
  packages/ngx-vest-forms/src/lib/utils/deep-required.ts
Owners: @ngx-vest-forms/maintainers

feat(form-directive)!: replace formShape with Standard Schema-based formContract
  .agents/skills/ngx-vest-forms/SKILL.md
  .agents/skills/ngx-vest-forms/core/SKILL.md
  README.md
  apps/examples/src/app/models/native-schema-demo.model.ts
  apps/examples/src/app/models/zod-schema-demo.model.ts
  apps/examples/src/app/pages/business-hours-form/business-hours.form.html
  apps/examples/src/app/pages/date-range-adapter/travel.form.html
  apps/examples/src/app/pages/native-schema-demo/native-schema-demo.form.html
  apps/examples/src/app/pages/native-schema-demo/native-schema-demo.form.ts
  apps/examples/src/app/pages/native-schema-demo/native-schema-demo.page.html
  apps/examples/src/app/pages/native-schema-demo/native-schema-demo.page.ts
  apps/examples/src/app/pages/purchase-form/purchase.form.html
  apps/examples/src/app/pages/validation-config-demo/validation-config-demo.form.html
  apps/examples/src/app/pages/wizard-form/wizard-step1.form.html
  apps/examples/src/app/pages/wizard-form/wizard-step2.form.html
  apps/examples/src/app/pages/wizard-form/wizard-step3.form.html
  apps/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.html
  apps/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.ts
  apps/examples/src/app/pages/zod-schema-demo/zod-schema-demo.page.html
  apps/examples/src/app/pages/zod-schema-demo/zod-schema-demo.page.ts
  docs/COMPLETE-EXAMPLE.md
  package-lock.json
  package.json
  packages/ngx-vest-forms/package.json
  packages/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  packages/ngx-vest-forms/src/lib/directives/form.directive.ts
  packages/ngx-vest-forms/src/lib/directives/validate-root-form.aot.spec.ts
  packages/ngx-vest-forms/src/lib/directives/validate-root-form.integration.spec.ts
  packages/ngx-vest-forms/src/lib/errors/error-catalog.ts
  packages/ngx-vest-forms/src/lib/testing/dynamic-structure-validation-issue.stories.spec.ts
  packages/ngx-vest-forms/src/lib/testing/omit-when-with-validation-config.stories.spec.ts
  packages/ngx-vest-forms/src/lib/testing/simple-form-with-validation-options.stories.spec.ts
  packages/ngx-vest-forms/src/lib/testing/simple-form.demo.component.ts
  packages/ngx-vest-forms/src/lib/testing/simple-form.ts
  packages/ngx-vest-forms/src/lib/utils/README.md
  packages/ngx-vest-forms/src/lib/utils/deep-partial.ts
  packages/ngx-vest-forms/src/lib/utils/deep-required.ts
  packages/ngx-vest-forms/src/lib/utils/to-form-contract.ts
  packages/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers

feat(types)!: remove NgxFormCompatibleDeepRequired in v3
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  packages/ngx-vest-forms/src/lib/utils/README.md
  packages/ngx-vest-forms/src/lib/utils/deep-required.spec.ts
  packages/ngx-vest-forms/src/lib/utils/deep-required.ts
  packages/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers

refactor(examples,docs): rename *FormShape consts to *FormContract
  .agents/skills/ngx-vest-forms/composite-adapter/SKILL.md
  apps/examples/src/app/models/address.model.ts
  apps/examples/src/app/models/business-hours-form.model.ts
  apps/examples/src/app/models/display-modes-demo.model.ts
  apps/examples/src/app/models/phonenumber.model.ts
  apps/examples/src/app/models/purchase-form.model.ts
  apps/examples/src/app/models/travel-form.model.ts
  apps/examples/src/app/models/validation-demo.model.ts
  apps/examples/src/app/models/wizard-form.model.ts
  apps/examples/src/app/pages/business-hours-form/business-hours.form.html
  apps/examples/src/app/pages/business-hours-form/business-hours.form.ts
  apps/examples/src/app/pages/business-hours-form/business-hours.page.html
  apps/examples/src/app/pages/business-hours-form/business-hours.page.ts
  apps/examples/src/app/pages/date-range-adapter/travel.form.html
  apps/examples/src/app/pages/date-range-adapter/travel.form.ts
  apps/examples/src/app/pages/date-range-adapter/travel.page.html
  apps/examples/src/app/pages/date-range-adapter/travel.page.ts
  apps/examples/src/app/pages/purchase-form/purchase.form.html
  apps/examples/src/app/pages/purchase-form/purchase.form.ts
  apps/examples/src/app/pages/validation-config-demo/validation-config-demo.form.html
  apps/examples/src/app/pages/validation-config-demo/validation-config-demo.form.ts
  apps/examples/src/app/pages/validation-config-demo/validation-config-demo.page.html
  apps/examples/src/app/pages/validation-config-demo/validation-config-demo.page.ts
  apps/examples/src/app/pages/wizard-form/wizard-form.page.html
  apps/examples/src/app/pages/wizard-form/wizard-form.page.ts
  apps/examples/src/app/pages/wizard-form/wizard-step1.form.html
  apps/examples/src/app/pages/wizard-form/wizard-step1.form.ts
  apps/examples/src/app/pages/wizard-form/wizard-step2.form.html
  apps/examples/src/app/pages/wizard-form/wizard-step2.form.ts
  apps/examples/src/app/pages/wizard-form/wizard-step3.form.html
  apps/examples/src/app/pages/wizard-form/wizard-step3.form.ts
  apps/examples/src/app/pages/wizard-form/wizard.form.html
  apps/examples/src/app/pages/wizard-form/wizard.form.ts
  docs/COMPLETE-EXAMPLE.md
  docs/COMPOSITE-ADAPTER-RECIPE.md
  docs/TYPE-COMPATIBILITY.md
  packages/ngx-vest-forms/src/lib/utils/to-form-contract.ts
Owners: @ngx-vest-forms/maintainers

docs(migration): add [formShape] → [formContract] section to v3 migration guide
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
Owners: @ngx-vest-forms/maintainers

build(workspace): migrate Nx workspace to pnpm
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  CONTEXT.md
  README.md
  apps/examples-e2e/playwright.config.ts
  docs/adr/0001-pnpm-first-workspace-hardening.md
  nx.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @ngx-vest-forms/maintainers

build(workspace): refresh pnpm lockfile for release/v3
  pnpm-lock.yaml
Owners: @ngx-vest-forms/maintainers

fix(release): preserve README copy in publish builds
  .github/workflows/cd.yml
  .github/workflows/prerelease.yml
  package.json
Owners: @ngx-vest-forms/maintainers

test: strengthen [formContract] override precedence assertion
  packages/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
Owners: @ngx-vest-forms/maintainers

docs: add JSDoc to all public API symbols in form-contract.token.ts
  packages/ngx-vest-forms/src/lib/tokens/form-contract.token.ts
Owners: @ngx-vest-forms/maintainers

refactor: remove readFormContract from public API surface
  packages/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers

fix(forms): respect null form contract override
  packages/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  packages/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers

refactor(forms): extract form contract diagnostics
  README.md
  docs/COMPLETE-EXAMPLE.md
  docs/TYPE-COMPATIBILITY.md
  docs/migration/MIGRATION-v2.x-to-v3.0.0.md
  packages/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  packages/ngx-vest-forms/src/lib/directives/form.directive.ts
  packages/ngx-vest-forms/src/lib/errors/error-catalog.ts
  packages/ngx-vest-forms/src/lib/utils/README.md
  packages/ngx-vest-forms/src/lib/utils/form-contract.ts
Owners: @ngx-vest-forms/maintainers

refactor(forms): drop unused return type from validateFormContract
  packages/ngx-vest-forms/src/lib/utils/form-contract.ts
Owners: @ngx-vest-forms/maintainers

test(examples): add e2e coverage for new example forms
  apps/examples-e2e/app/app.page.spec.ts
  apps/examples-e2e/pages/async-username-form/async-username.form.spec.ts
  apps/examples-e2e/pages/async-username-form/async-username.page.spec.ts
  apps/examples-e2e/pages/business-policy-form/business-policy.form.spec.ts
  apps/examples-e2e/pages/business-policy-form/business-policy.page.spec.ts
  apps/examples-e2e/pages/complex-nested-form/complex-nested.form.spec.ts
  apps/examples-e2e/pages/complex-nested-form/complex-nested.page.spec.ts
  apps/examples-e2e/pages/custom-controls-form/custom-controls.form.spec.ts
  apps/examples-e2e/pages/custom-controls-form/custom-controls.page.spec.ts
  apps/examples-e2e/pages/submission-patterns-form/submission-patterns.form.spec.ts
  apps/examples-e2e/pages/submission-patterns-form/submission-patterns.page.spec.ts
Owners: @ngx-vest-forms/maintainers

refactor(examples): address review feedback on shell accessibility and typing
  apps/examples/src/app/app.component.html
  apps/examples/src/app/app.component.ts
  apps/examples/src/app/pages/async-username-form/async-username.validations.ts
  apps/examples/src/app/pages/custom-controls-form/segmented-control.component.ts
  apps/examples/src/app/pages/custom-controls-form/star-rating.component.ts
  apps/examples/src/app/shared/routes.metadata.ts
Owners: @ngx-vest-forms/maintainers

refactor(form-contract): tighten provider docs and coverage
  docs/API-TOKENS.md
  docs/COMPLETE-EXAMPLE.md
  packages/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
Owners: @ngx-vest-forms/maintainers

fix(examples): remove orphaned feedback docs
  apps/examples/src/app/pages/business-hours-form/business-hours.form.ts
  apps/examples/src/app/pages/business-policy-form/business-policy.form.ts
  apps/examples/src/app/pages/complex-nested-form/complex-nested.form.ts
  apps/examples/src/app/pages/display-modes-demo/display-modes-demo.form.ts
  apps/examples/src/app/pages/purchase-form/purchase.form.ts
  apps/examples/src/app/pages/validation-config-demo/validation-config-demo.form.ts
  apps/examples/src/app/pages/zod-schema-demo/zod-schema-demo.form.ts
Owners: @ngx-vest-forms/maintainers

chore(claude): add API-review subagent and release/vest skills
  .claude/agents/library-api-reviewer.md
  .claude/skills/release-preflight/SKILL.md
  .claude/skills/vest-suite-scaffold/SKILL.md
Owners: @ngx-vest-forms/maintainers

refactor(ngx-vest-forms): seal onFormFocusOut and de-deprecate deep types
  packages/ngx-vest-forms/src/lib/directives/form.directive.ts
  packages/ngx-vest-forms/src/lib/utils/deep-partial.ts
  packages/ngx-vest-forms/src/lib/utils/deep-required.ts
Owners: @ngx-vest-forms/maintainers

chore(release): cut release/v3 onto the @beta prerelease channel
  .releaserc
  docs/RELEASE.md
Owners: @ngx-vest-forms/maintainers

docs(release): document v2/v3 branch lifecycle and GA transition
  docs/RELEASE.md
Owners: @ngx-vest-forms/maintainers

ci(prerelease): add dry_run input and release/v3 to prerelease workflow
  .github/workflows/prerelease.yml
Owners: @ngx-vest-forms/maintainers
