Repository ngx-vest-forms/ngx-vest-forms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team, @ngx-vest-forms/contributors

.github/CODEOWNERS:

# Owners for the entire repository
* @ngx-vest-forms/maintainers

# Library source code
projects/ngx-vest-forms/src/ @ngx-vest-forms/core-team

# Documentation
README.md @ngx-vest-forms/maintainers
.github/ @ngx-vest-forms/maintainers
projects/ngx-vest-forms/.storybook/ @ngx-vest-forms/maintainers

# Build and CI configuration
.github/workflows/ @ngx-vest-forms/maintainers
package.json @ngx-vest-forms/maintainers
angular.json @ngx-vest-forms/maintainers
tsconfig*.json @ngx-vest-forms/maintainers

# Release configuration
.releaserc @ngx-vest-forms/maintainers
.commitlintrc.js @ngx-vest-forms/maintainers

# Examples and demos (more permissive)
projects/examples/ @ngx-vest-forms/maintainers @ngx-vest-forms/contributors

chore(deps): update Node.js version to v24.10.0 and @swc/core dependencies to v1.15.1
  .node-version
  package-lock.json
Owners: @ngx-vest-forms/maintainers

docs(roadmap): add enhancements for headless core entry point and schema validation adapter
  docs/dev/ROADMAP.md
  docs/dev/archive/PRD-NON-BREAKING-IMPROVEMENTS-2025-11.md
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  af79848bf1a76951e24365fb10225fb19a287919
Owners: @ngx-vest-forms/maintainers

docs(roadmap): archive completed items and update critical issues for November 2025
  docs/dev/ROADMAP.md
  docs/dev/archive/PR-60-CHANGES.md
  docs/dev/archive/ROADMAP-2025-11-completed.md
Owners: @ngx-vest-forms/maintainers

fix(shape-validation): handle Date fields with empty strings and null values
  .github/instructions/context7.instructions.md
  README.md
  docs/TYPE-COMPATIBILITY.md
  e2e/date-field-shape-validation.spec.ts
  projects/ngx-vest-forms/src/lib/utils/shape-validation.spec.ts
  projects/ngx-vest-forms/src/lib/utils/shape-validation.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor: update documentation to replace 'sc-' prefix with 'ngx-' prefix across all files
  README.md
  docs/ACCESSIBILITY.md
  docs/CHILD-COMPONENTS.md
  docs/COMPLETE-EXAMPLE.md
  docs/CUSTOM-CONTROL-WRAPPERS.md
  docs/FIELD-CLEARING-UTILITIES.md
  docs/MIGRATION.md
  docs/SELECTOR-PREFIX-MIGRATION.md
  docs/STRUCTURE_CHANGE_DETECTION.md
  docs/VALIDATION-CONFIG-BUILDER.md
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
  projects/ngx-vest-forms/src/lib/utils/README.md
Owners: @ngx-vest-forms/maintainers

docs: improve documentation
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/ACCESSIBILITY.md
  docs/API-TOKENS.md
  docs/CHILD-COMPONENTS.md
  docs/COMPLETE-EXAMPLE.md
  docs/DUAL-SELECTOR-SUPPORT.md
  docs/FIELD-PATHS.md
  docs/MIGRATION.md
  docs/ROADMAP.md
  docs/SELECTOR-PREFIX-MIGRATION.md
  docs/VALIDATION-CONFIG-BUILDER.md
  docs/dev/README.md
  docs/dev/archive/PR-60-CHANGES.md
  docs/dev/archive/PRD-NON-BREAKING-IMPROVEMENTS-2025-11.md
  docs/dev/archive/README.md
  docs/dev/archive/ROADMAP-2025-11-completed.md
  docs/migration/MIGRATION-v1.x-to-v2.0.0.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

refactor: remove unused setup-jest.ts and course.jpeg files
  COMMIT_MSG.txt
  course.jpeg
  projects/ngx-vest-forms/src/setup-jest.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

docs: clarify usage of triggerFormValidation()
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/FIELD-CLEARING-UTILITIES.md
  docs/STRUCTURE_CHANGE_DETECTION.md
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
Owners: @ngx-vest-forms/maintainers

feat(utils): add createDebouncedPendingState utility for async validation UX
  .github/instructions/ngx-vest-forms.instructions.md
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.html
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
  projects/ngx-vest-forms/src/lib/utils/README.md
  projects/ngx-vest-forms/src/lib/utils/pending-state.utils.spec.ts
  projects/ngx-vest-forms/src/lib/utils/pending-state.utils.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

docs: add createDebouncedPendingState utility to documentation
  README.md
  docs/CUSTOM-CONTROL-WRAPPERS.md
Owners: @ngx-vest-forms/maintainers

chore: fix lint errors
  projects/ngx-vest-forms/src/lib/directives/validate-root-form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
  projects/ngx-vest-forms/src/lib/utils/field-path-types.ts
  projects/ngx-vest-forms/src/lib/utils/form-utils.ts
Owners: @ngx-vest-forms/core-team

chore: update package name to ngx-vest-forms
  package.json
Owners: @ngx-vest-forms/maintainers

build(agents): add model information to planner, generator, and healer agents
  .github/agents/ 🎭 planner.agent.md
  .github/agents/🎭 generator.agent.md
  .github/agents/🎭 healer.agent.md
Owners: @ngx-vest-forms/maintainers

chore: enable eslint rule for component selector in form directive tests
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
Owners: @ngx-vest-forms/core-team

chore: update host component selector to ngx-host-field in form error display tests
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.spec.ts
Owners: @ngx-vest-forms/core-team

Notes added by 'git notes add'
  6204a9336be4cd289c2a3257475d011c6efe6201
Owners: @ngx-vest-forms/maintainers

refactor: simplify snapshot creation in FormDirective by removing redundant structuredClone fallback
  docs/ROADMAP.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: update peer dependencies for Angular to version 19.0.0
  projects/ngx-vest-forms/package.json
Owners: @ngx-vest-forms/maintainers

feat(core): dev-mode shape warnings + targeted revalidation
  projects/ngx-vest-forms/src/lib/directives/form.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/errors/error-catalog.ts
  projects/ngx-vest-forms/src/lib/utils/README.md
  projects/ngx-vest-forms/src/lib/utils/shape-validation.spec.ts
  projects/ngx-vest-forms/src/lib/utils/shape-validation.ts
  projects/ngx-vest-forms/src/public-api.ts
Owners: @ngx-vest-forms/core-team, @ngx-vest-forms/maintainers

refactor: rename vestForms to NgxVestForms for consistency
  README.md
  docs/CHILD-COMPONENTS.md
  docs/COMPLETE-EXAMPLE.md
  docs/CUSTOM-CONTROL-WRAPPERS.md
  docs/DUAL-SELECTOR-SUPPORT.md
  docs/FIELD-CLEARING-UTILITIES.md
  docs/ROADMAP.md
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.ts
  projects/examples/src/app/components/ui/address/address.component.ts
  projects/examples/src/app/components/ui/business-hour/business-hour.component.ts
  projects/examples/src/app/components/ui/business-hours/business-hours.component.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.spec.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.ts
  projects/ngx-vest-forms/src/lib/exports.ts
  projects/ngx-vest-forms/src/public-api.ts
  tests/integration/validate-root-form.integration.spec.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

Notes added by 'git notes add'
  090987b4dff72ffa05813c06c763e892dea0ea47
Owners: @ngx-vest-forms/maintainers

feat(core): update to angular 21
  package-lock.json
  package.json
  projects/examples/src/main.ts
  tsconfig.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: update dependencies and configuration
  angular.json
  jest.preset.js
  package-lock.json
  package.json
  projects/examples/src/main.ts
  projects/ngx-vest-forms/eslint.config.mjs
  tsconfig.spec.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore: update dependencies and improve story tests for Angular 21 compatibility
  angular.json
  package-lock.json
  package.json
  projects/ngx-vest-forms/src/lib/testing/simple-form.stories.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

chore: update package installation commands and Angular dependencies for compatibility
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  angular.json
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

fix: update asset paths in angular.json and correct jest.config import extension
  angular.json
  jest.integration.config.ts
Owners: @ngx-vest-forms/maintainers

Notes added by 'git notes add'
  7700db88417cb8f6d4465bb4c5029430407e5436
Owners: @ngx-vest-forms/maintainers

refactor(examples): migrate to Angular 21 signal inputs
  package-lock.json
  package.json
  projects/examples/src/app/components/ui/business-hour/business-hour.component.html
  projects/examples/src/app/components/ui/business-hour/business-hour.component.ts
  projects/examples/src/app/components/ui/business-hours/business-hours.component.html
  projects/examples/src/app/components/ui/business-hours/business-hours.component.ts
  projects/examples/src/main.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

chore(examples): redesign UI with Tailwind and improve validation
  e2e/business-hours-form.spec.ts
  e2e/enhanced-validation-config.spec.ts
  e2e/example.spec.ts
  e2e/helpers/form-helpers.ts
  e2e/purchase-form.spec.ts
  e2e/validation-config-demo.spec.ts
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.ts
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.scss
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.ts
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.ts
  projects/examples/src/app/components/ui/address/address.component.html
  projects/examples/src/app/components/ui/business-hour/business-hour.component.html
  projects/examples/src/app/components/ui/business-hours/business-hours.component.html
  projects/examples/src/app/components/ui/card/card.component.ts
  projects/examples/src/app/components/ui/phonenumbers/phonenumbers.component.html
  projects/examples/src/app/swapi.service.ts
  projects/examples/src/app/validations/purchase.validations.spec.ts
  projects/examples/src/app/validations/purchase.validations.ts
  projects/examples/src/styles.scss
  tailwind.config.js
  tsconfig.json
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

ci: use legacy-peer-deps
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .npmrc
  package-lock.json
Owners: @ngx-vest-forms/maintainers

chore(lint): fix linting errors
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/ui/address/address.component.html
  projects/examples/src/app/components/ui/business-hour/business-hour.component.html
  projects/examples/src/app/components/ui/card/card.component.ts
  projects/examples/src/app/luke.service.ts
  projects/examples/src/app/swapi.service.ts
  projects/examples/src/app/validations/business-hours.validations.ts
  projects/examples/src/app/validations/purchase.validations.spec.ts
  projects/examples/src/app/validations/validation-demo.validations.ts
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.spec.ts
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
  projects/ngx-vest-forms/src/lib/utils/deep-required.ts
  projects/ngx-vest-forms/src/lib/utils/field-clearing.ts
  projects/ngx-vest-forms/src/lib/utils/shape-validation.spec.ts
  projects/ngx-vest-forms/src/lib/utils/shape-validation.ts
  projects/ngx-vest-forms/src/lib/utils/validation-suite.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

chore: update dependencies to latest versions
  .npmrc
  package-lock.json
  package.json
Owners: @ngx-vest-forms/maintainers

feat: upgrade to Tailwind CSS v4.1.17
  .github/instructions/tailwind.instructions.md
  .postcssrc.json
  package-lock.json
  package.json
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.html
  projects/examples/src/app/components/smart/business-hours-form/business-hours-form.component.scss
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.html
  projects/examples/src/app/components/smart/purchase-form/purchase-form.component.scss
  projects/examples/src/app/components/smart/validation-config-demo/validation-config-demo.component.html
  projects/examples/src/app/components/ui/business-hour/business-hour.component.scss
  projects/examples/src/app/components/ui/business-hours/business-hours.component.html
  projects/examples/src/app/components/ui/theme-switcher/theme-switcher.component.html
  projects/examples/src/app/validations/purchase.validations.ts
  projects/examples/src/styles.scss
  projects/ngx-vest-forms/.storybook/styles.scss
  projects/ngx-vest-forms/src/lib/directives/form-error-display.directive.ts
  tailwind.config.js
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors, @ngx-vest-forms/core-team

feat(forms): add markAllAsTouched() convenience method to FormDirective
  .github/instructions/ngx-vest-forms.instructions.md
  README.md
  docs/STRUCTURE_CHANGE_DETECTION.md
  docs/VALIDATION-CONFIG-VS-ROOT-FORM.md
  projects/ngx-vest-forms/src/lib/directives/form.directive.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/core-team

feat(examples): add multi-form wizard example demonstrating markAllAsTouched
  projects/examples/src/app/app.component.html
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.html
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.scss
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.ts
  projects/examples/src/app/components/ui/wizard/index.ts
  projects/examples/src/app/components/ui/wizard/wizard-navigation.component.ts
  projects/examples/src/app/components/ui/wizard/wizard-steps.component.ts
  projects/examples/src/app/models/wizard-form.model.ts
  projects/examples/src/app/validations/wizard.validations.ts
  projects/examples/src/main.ts
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

test(wizard): add comprehensive E2E tests and enhance wizard UX
  e2e/wizard-form.spec.ts
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.html
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.ts
  projects/examples/src/app/components/ui/wizard/wizard-navigation.component.ts
  projects/examples/src/app/components/ui/wizard/wizard-steps.component.ts
  projects/examples/src/styles.scss
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(ui): improve theme switcher visibility and wizard spacing
  projects/examples/src/app/components/smart/wizard-form/wizard-form.component.html
  projects/examples/src/app/components/ui/theme-switcher/theme-switcher.component.html
Owners: @ngx-vest-forms/maintainers, @ngx-vest-forms/contributors

fix(ui): prevent layout shift during async validation
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/core-team

fix(ui): increase pending state delay to reduce flickering
  projects/ngx-vest-forms/src/lib/components/control-wrapper/control-wrapper.component.ts
Owners: @ngx-vest-forms/core-team
